# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

/.env

**/.DS_Store

*.codekit
*.sass-cache/*
/public/assets/scssc/
/public/system/space_photos/photos/
/public/system/space_photos/
/public/system/users/
/public/system/space_photos/
.byebug_history
/public/assets/

# dumps
*.csv
*.sql

# ignore vscode settings to allow people to individually reconfigure things. The
# devcontainer gets default settings via devcontainer.json.
.vscode/settings.json
.devcontainer/.env
