/* line 1, /var/www/spacefinder/app/assets/stylesheets/_top-bar.scss */
#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #106470;
  z-index: 1;
  display: -webkit-flex;
  display: flex;
  border-bottom: 2px solid black;
  padding: 8px 4px 0;
}
/* line 15, /var/www/spacefinder/app/assets/stylesheets/_top-bar.scss */
#top-bar a {
  border-radius: 4px 4px 0 0;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  color: white;
  text-decoration: none;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  text-align: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  font-size: 1.2rem;
  line-height: 0;
}
/* line 33, /var/www/spacefinder/app/assets/stylesheets/_top-bar.scss */
#top-bar a#search-btn {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  border-radius: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 36px;
  width: 36px;
  margin-right: 8px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 46, /var/www/spacefinder/app/assets/stylesheets/_top-bar.scss */
#top-bar a#search-btn [class^="icon-"]:before {
  font-size: 1.2rem;
}
/* line 50, /var/www/spacefinder/app/assets/stylesheets/_top-bar.scss */
#top-bar a#search-btn.active {
  border-radius: 4px 4px 0 0;
  background: #F3F3F3;
  color: #212121;
  height: 42px;
  align-self: flex-start;
}
/* line 58, /var/www/spacefinder/app/assets/stylesheets/_top-bar.scss */
#top-bar a[class^="icon-"] {
  font-size: 1.2rem;
  padding: 0;
  margin: -15px 0 0 0;
  height: 2rem;
  line-height: 0;
}
/* line 66, /var/www/spacefinder/app/assets/stylesheets/_top-bar.scss */
#top-bar a.active {
  background-color: rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: 'spacefinder';
  src: url(/assets/spacefinder-5f926a78817e23dc989e279224e508306a24a29be4ce986e01e60f273e6c2d63.eot?j6f4kv);
  src: url(/assets/spacefinder-5f926a78817e23dc989e279224e508306a24a29be4ce986e01e60f273e6c2d63.eot?#iefixj6f4kv) format("embedded-opentype"), url(/assets/spacefinder-155af3dd9c799a059b3431acf81ff5f727b9360292663d72e7cbccc6e7eb11ac.ttf?j6f4kv) format("truetype"), url(/assets/spacefinder-eaf8d7c14cf3e159798c78ac57e5650866beb71223014a3b2cd387cd7a92f099.woff?j6f4kv) format("woff"), url(/assets/spacefinder-20e1ee54a43009e24cf9c0f5ff6a7e0024d1d228fd6959d8d72acfad90eaae49.svg?j6f4kv#spacefinder) format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'spacefinder';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  text-decoration: inherit;
  margin-right: .2em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 34, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-pencil:before {
  content: "\e621";
}

/* line 37, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-callout:before {
  content: "\e622";
}

/* line 40, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-arrow-up:before {
  content: "\e61e";
}

/* line 43, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-arrow-right:before {
  content: "\e61f";
}

/* line 46, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-arrow-down:before {
  content: "\e620";
}

/* line 49, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-arrow-left:before {
  content: "\e61d";
}

/* line 53, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-loading {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* line 58, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-loading:before {
  content: "\e61c";
}

/* line 62, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-tick:before {
  content: "\e61b";
}

/* line 65, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-views:before {
  content: "\e600";
}

/* line 68, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-bench:before {
  content: "\e601";
}

/* line 71, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-close:before {
  content: "\e602";
}

/* line 74, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-add {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 79, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-add:before {
  content: "\e602";
}

/* line 82, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-coffee:before {
  content: "\e603";
}

/* line 85, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-computer:before {
  content: "\e604";
}

/* line 88, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-desk:before {
  content: "\e605";
}

/* line 91, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-drink:before {
  content: "\e606";
}

/* line 94, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-laptop:before {
  content: "\e607";
}

/* line 97, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-list:before {
  content: "\e608";
}

/* line 100, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-marker:before {
  content: "\e609";
}

/* line 103, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-music:before {
  content: "\e60a";
}

/* line 106, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-no-wifi:before {
  content: "\e60b";
}

/* line 109, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-phone:before {
  content: "\e60c";
}

/* line 112, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-power:before {
  content: "\e60d";
}

/* line 115, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-printer:before {
  content: "\e60e";
}

/* line 118, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-projector:before {
  content: "\e60f";
}

/* line 121, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-search:before {
  content: "\e610";
}

/* line 124, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-sound-0:before {
  content: "\e611";
}

/* line 127, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-sound-1:before {
  content: "\e612";
}

/* line 130, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-sound-2:before {
  content: "\e613";
}

/* line 133, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-sound-3:before {
  content: "\e614";
}

/* line 136, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-sun:before {
  content: "\e615";
}

/* line 139, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-time-long:before {
  content: "\e616";
}

/* line 142, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-time-short:before {
  content: "\e617";
}

/* line 145, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-toilet:before {
  content: "\e618";
}

/* line 148, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-whiteboard:before {
  content: "\e619";
}

/* line 151, /var/www/spacefinder/app/assets/stylesheets/_icons.scss */
.icon-wifi:before {
  content: "\e61a";
}

@font-face {
  font-family: 'MyriadPro-Light';
  src: url(/assets/MyriadPro-Light-a287415dbd057844dea1bac5d2631e7ee9b219e558a58f3fb1dbcd53effec0c1.eot?#iefix) format("embedded-opentype"), url(/assets/MyriadPro-Light-b88f3b6dfc20c3b8f20acb246f02bab32609c8f4e227d2ab7c44fbee244e2da8.otf) format("opentype"), url(/assets/MyriadPro-Light-d8a52dc88727d23e33c972685c9c2a01b4f1f8bc31b187c6df5e16a384d5bc67.woff) format("woff"), url(/assets/MyriadPro-Light-cb7b33b9befbb150bf2ff455422688070f4239e01b0099deca904f4251551027.ttf) format("truetype"), url(/assets/MyriadPro-Light-18d78f91b499712d2811f0da5b676594fd6f762565a791954d7573bd61c57337.svg#MyriadPro-Light) format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 13, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
body, html {
  padding: 0;
  margin: 0;
  background: #2e2e2e;
  font-size: 14px;
  font-family: 'MyriadPro-Light', verdana, sans-serif;
}

/* line 21, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
body * {
  box-sizing: border-box;
}

/* line 25, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 50px;
}
/* line 36, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
body.small-page {
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: 0;
}

/* line 43, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.back {
  float: left;
}
/* line 46, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.back i {
  margin-top: -3px;
}

/* line 51, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
img {
  max-width: 100%;
}

/* line 55, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.fields.image {
  max-width: 30%;
  margin-right: 24px;
  float: left;
  clear: none;
  position: relative;
}

/* line 63, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
a.remove_nested_fields {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 6px 3px 3px 6px;
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  color: #FFF;
}

/* line 74, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.fields {
  clear: both;
}

/* line 78, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.event-success {
  text-align: center;
  margin: 12px 0;
  border: 1px solid green;
  padding: 12px;
}
/* line 84, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.event-success p {
  margin: 0;
  display: inline-block;
  color: green;
}
/* line 90, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.event-success [class^='icon-'] {
  display: inline-block;
  color: green;
  text-align: center;
  margin-right: 6px;
}

/* line 99, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.container {
  width: 100%;
  max-width: 800px;
  background-color: #FFF;
  padding: 12px;
}

/* line 105, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
h1 {
  font-weight: normal;
}

/* line 108, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
h1 > small {
  display: block;
}

/* line 112, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.btn, .btn-inline, input[type="submit"].btn-inline {
  width: 100%;
  text-align: center;
  background: #642c73;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 6px 4px;
  font-size: 1.4rem;
  display: inline-block;
  font-family: 'MyriadPro-Light';
  border: none;
}
/* line 124, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.btn.disabled, .btn-inline.disabled, input[type="submit"].btn-inline.disabled {
  background: #d0d1d1;
}

/* line 129, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.btn-inline, input[type="submit"].btn-inline {
  display: inline-block;
  width: auto;
  font-size: 1rem;
  padding: 9px 6px 3px;
}

/* line 136, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.login {
  text-align: center;
  max-width: 500px;
  width: 90%;
}
/* line 140, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.login .btn {
  margin-top: 24px;
}

/* line 144, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
#top-bar {
  padding-top: 12px;
  display: block;
}
/* line 147, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
#top-bar .title {
  font-size: 1.4rem;
  float: left;
}
/* line 151, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
#top-bar .logout {
  padding-top: 12px;
  float: right;
  text-align: right;
}

/* line 159, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.overview {
  max-width: 600px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
/* line 166, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.overview a {
  width: 100%;
  height: 200px;
  padding: 24px;
  font-size: 1.4rem;
  text-decoration: none;
  color: #106470;
  border-right: 1px solid #d0d1d1;
  text-align: center;
}
/* line 173, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.overview a > span {
  display: block;
}
/* line 177, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.overview a i {
  display: block;
  margin: 24px 0;
}
/* line 185, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.overview a .bubble {
  display: inline-block;
  background-color: #e10000;
  color: #FFF;
  padding: 6px 12px;
  margin-top: -18px;
  border-radius: 100%;
  font-size: 1rem;
  font-weight: bold;
}
/* line 196, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.overview a:last-child {
  border: none;
}
@media screen and (max-width: 600px) {
  /* line 159, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
  .overview {
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-top: 50px;
  }
  /* line 205, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
  .overview a {
    font-size: 2rem;
    border-right: none;
    border-bottom: 1px solid #d0d1d1;
  }
}

/* line 213, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
#spaces {
  width: 100%;
  max-width: 600px;
  text-align: center;
  background-color: #F3F3F3;
}
/* line 219, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
#spaces select {
  margin: 12px;
}

/* line 224, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.header {
  text-transform: uppercase;
  display: -webkit-flex;
  display: flex;
  line-height: 1rem;
  background-color: #F3F3F3;
  border-top: 1px solid #d0d1d1;
  border-bottom: 1px solid #d0d1d1;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 6px -12px 6px -12px;
}
/* line 237, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.header .title {
  padding: 12px 12px;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
/* line 242, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.header .section-collapse {
  height: 100%;
  padding: 12px 12px;
  border-left: 1px solid #d0d1d1;
}
/* line 248, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.header:first-of-type {
  margin-top: -12px;
}

/* line 253, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.section {
  padding-bottom: 24px;
}

/* line 257, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.hidden {
  display: none;
}

/* line 261, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.term-times, .holiday-times {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 268, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.term-times > div, .holiday-times > div {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: calc(100% - 120px);
}
/* line 273, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.term-times .field, .holiday-times .field {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  width: 100px;
}
/* line 279, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.term-times .closed, .term-times .times, .holiday-times .closed, .holiday-times .times {
  background-color: #F3F3F3;
  border: 1px solid #d0d1d1;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}
/* line 286, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.term-times .times, .holiday-times .times {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 290, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.term-times .times label, .holiday-times .times label {
  display: inline-block;
}
/* line 294, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.term-times .splitter, .holiday-times .splitter {
  display: inline-block;
  padding: 0 12px;
}

/* line 300, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
input[type=text], input[type=password], input[type=number], textarea {
  -webkit-appearance: none;
  border: 1px solid #d0d1d1;
  border-radius: 0;
  display: block;
  font-size: 1rem;
  padding: 6px;
  margin: 0;
  width: 100%;
  font-family: 'Myriad Pro', verdana, sans-serif;
  font-weight: lighter;
}
/* line 311, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, textarea:focus {
  -webkit-outline: none;
  outline: none;
  border-color: #00b1c1;
}

/* line 318, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
textarea {
  min-height: 80px;
}

/* line 322, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.pre-fill {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  background: #FFF;
  border: 1px solid #d0d1d1;
}
/* line 329, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.pre-fill.focus {
  border-color: #00b1c1;
}
/* line 332, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.pre-fill span {
  padding: 6px 6px 0;
}
/* line 335, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.pre-fill input {
  border: none;
  padding-left: 0;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
/* line 338, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.pre-fill input:focus {
  border-color: transparent;
}

/* line 348, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.edit select {
  display: block;
}
/* line 351, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.edit .field {
  padding: 12px;
}
/* line 356, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.edit label {
  display: block;
}
/* line 360, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.edit input[type=checkbox] {
  display: none;
}
/* line 363, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.edit input[type=checkbox] + [class^="icon-"] {
  border: 1px solid #d0d1d1;
  padding: 4px 3px;
  color: #d0d1d1;
  font-size: 0.8rem;
  margin-right: 6px;
}
/* line 370, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.edit input[type=checkbox]:checked + [class^="icon-"] {
  color: #E37222;
}

/* line 375, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.btn, input[type="submit"], button, .btn-inline {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  width: 100%;
  text-align: center;
  background: #642c73;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 6px 4px;
  font-size: 1.4rem;
  display: inline-block;
  font-family: 'MyriadPro-Light';
  border: none;
}
/* line 390, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.btn.disabled, input[type="submit"].disabled, button.disabled, .btn-inline.disabled {
  background: #d0d1d1;
}

/* line 395, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.btn-inline {
  display: inline-block;
  width: auto;
  font-size: 1rem;
  padding: 9px 6px 3px;
}

/* line 402, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.location {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 409, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.location .field {
  width: 50%;
}
/* line 412, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.location .get-location {
  display: block;
  width: 100%;
  -webkit-flex-grow: 2;
  flex-grow: 2;
  margin: 0 12px;
}

/* line 422, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.tips .tip {
  background-color: #FFF;
  padding: 12px 0;
  border-bottom: 1px solid #d0d1d1;
}
/* line 423, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.tips .tip.new {
  background-color: #F3F3F3;
  margin-left: -12px;
  margin-right: -12px;
  padding-left: 12px;
  padding-right: 12px;
}
/* line 434, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.tips .tip:last-child {
  border: none;
}
/* line 437, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.tips .tip:before {
  border-top: none;
}
/* line 440, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.tips .tip .meta {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
/* line 447, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.tips .tip .comment {
  padding: 12px 0;
}
/* line 451, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.tips .tip .avatar {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  background-color: #d0d1d1;
  flex-grow: 0;
  -webkit-flex-grow: 0;
  margin-right: 6px;
}
/* line 461, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.tips .tip .user, .tips .tip .timestamp {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
/* line 465, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.tips .tip .name {
  display: block;
  font-size: 1.2rem;
}
/* line 469, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.tips .tip .discipline, .tips .tip .timestamp {
  color: #838585;
}
/* line 472, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.tips .tip .timestamp {
  text-align: right;
  min-width: 30px;
}
/* line 477, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.tips .tip .buttons {
  padding-top: 12px;
}
/* line 479, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.tips .tip .buttons:after {
  content: '';
  width: 100%;
  clear: both;
  height: 1px;
}
/* line 485, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.tips .tip .buttons .remove {
  background-color: #000;
}
/* line 488, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.tips .tip .buttons .respond {
  float: right;
}
/* line 493, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.tips .tip .buttons.delete {
  padding-top: 0;
}

/* line 499, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.field_with_errors {
  width: 100%;
}
/* line 501, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.field_with_errors input, .field_with_errors textarea, .field_with_errors select {
  border: 1px solid #FF6666;
}

/* line 506, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.pre-fill.field_with_errors {
  border: 1px solid #FF6666;
}
/* line 509, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
.pre-fill.field_with_errors input {
  border: none;
}

/* line 514, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
#error_explanation {
  border: 1px solid #FF6666;
  padding: 0 12px;
  background-color: #f3f3f3;
}
/* line 518, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
#error_explanation h2 {
  color: #cc0000;
}
/* line 521, /var/www/spacefinder/app/assets/stylesheets/admin.scss */
#error_explanation ul {
  padding-left: 0;
  list-style: none;
}
