<% content_for :title, "Spacefinder Administration Login" %>
<% content_for :body_class, "small-page" %>

<div class="container login">
  
  <% if user_signed_in? then %>
    <div id="error_explanation">
      <p>Your Spacefinder account does not have the necessary permissions to administer spaces. Please contact an administrator if you believe this is incorrect.</p>
    </div>
  <% end %>
    <h1>SPACEFINDER<small>Admin Portal</small></h1>

    <%= image_tag('raven-logo.gif', alt: 'Raven') %>
    <%= link_to 'Login', user_omniauth_authorize_path(:shibboleth), class: 'btn' %>
</div>