<% if (defined? wrapper).nil? then wrapper = true end %>

<% if wrapper === true then %>
  <div class="field">
<% end %>
  <%= f.label field do %>
    <%= f.check_box field %>
    <i class="icon-tick"></i><%= label %>
  <% end %>
<% if wrapper === true then %>
  </div>
<% end %>
