<% content_for :title, "Create new space – Spacefinder" %>
<% content_for :javascripts do %>
  <script type="text/javascript">
      showHolidayTimes = false;
  </script>
<% end %>

<div class="container edit">

  <%= render 'form' %>
    
</div>
