<div class="login">
    <div class="welcome">
        Please login to continue. You can either use your University of Cambridge login details or sign in with your facebook details.

    </div>
    <div class="raven-login">
        <div class="raven-logo">
            <img alt="raven logo" src="/assets/img/raven-logo.gif" />
        </div>
        <a href="#" class="raven-login-button btn">Login with raven</a>
    </div>
    <div class="facebook-login">
        <a class="facebook-login-button btn" href="#">Login with facebook</a>
    </div>
</div>
<div class="user-details" style="display:none;">
    Thanks for logging in. It looks like this is the first time you have logged in so we need a few more details from you before you can continue.

    <form id="update-user-details">
        <div class="user-avatar-container">
            <div class="user-avatar"></div>
            <a href="#" class="avatar-upload-button btn">Change image</a>

        </div>
        <form>
            <input type="file" class="avatar-upload" style="visibility:hidden;"/>

            <input placeholder="Display name" type="text" name="name" />
            <input placeholder="Discipline of study" type="text" name="discipline" />
            <input placeholder="email" type="text" name="email" />
            <input type="submit" value="Update details" />
        </form>
    </form>

</div>
<script type="text/javascript">
$login = $('.login-screen');
$login.find('#login-form').submit(function(event) {
    event.preventDefault();
    console.log('submit raven form');
    $.ajax({
        url: '/assets/data/login.json',
        method: 'POST',
        data: {"username": $(this).find('input[name="username"]').val(), "password":$(this).find('input[name="password"]').val()}
    })
    .done(function(data) {
        if(data.status == "success") {
            if (!!data.details_needed) {
                $login.find('.login').fadeOut(300);
                $login.find('.user-details').data('from-login', 'true').fadeIn(300);
            } else {
                userDetails = data;
                loginSuccess();
            }
        }
    })
    .fail(function() {
        console.log("error");
    });
});

$login.find('#update-user-details').submit(function(event) {
    event.preventDefault();
    console.log('submit details update');
    $.ajax({
        url: '/assets/data/login.json',
        method: 'POST',
        data: $(this).serialize()
    })
    .done(function(data) {
        if(data.status == "success") {
            userDetails = data;
            if($('.user-details').data('from-login') == 'true') {
                loginSuccess();
            }
        }
    })
    .fail(function() {
        console.log("error");
    });
});

function loginSuccess() {
    console.log('loginSuccess()');
    $(window).trigger('login_success');
}
$login.find('.avatar-upload-button').on('click', function(event) {
    event.preventDefault();
    $login.find('.avatar-upload').click();
});
$login.find('.avatar-upload').on('change', function(event) {
    event.preventDefault();
    var fileList = this.files;
    for (var i = 0, numFiles = fileList.length; i < numFiles; i++) {
        var file = fileList[i];
        var imageType = /^image\//;

        if (!imageType.test(file.type)) {
            continue;
        }
        var preview = $('.user-avatar');
        var objectURL = window.URL.createObjectURL(file);
        preview.css('background-image', 'url(' + objectURL + ')');

        console.log(objectURL);

    }
});

$('.raven-login-button').on('click', function(event) {
    event.preventDefault();
    var url = "https://uoc-spacefinder.herokuapp.com/users/auth/raven";
    //window.open(url, "Raven login", "width=980,height=600");
    $login.find('.login').fadeOut(300);
    $login.find('.user-details').data('from-login', 'true').fadeIn(300);
});
$('.facebook-login-button').on('click', function(event) {
    event.preventDefault();
    var url = "/assets/data/login-popup.html";
    loginWindow = window.open(url, "Facebook login", "width=400,height=300");
});

$(window).on('login_callback', function(event) {
    event.preventDefault();
    if(userDetails.details_needed == true || userDetails.details_needed == "true") {
        $login.find('.login').fadeOut(300);
        $login.find('.user-details').data('from-login', 'true').fadeIn(300);
        if(userDetails.user !== undefined && userDetails.user.profile_image !== undefined) {
            $login.find('.user-details .user-avatar').css('background-image', 'url(' + userDetails.user.profile_image + ')');
        }
        if(userDetails.user !== undefined && userDetails.user.name !== undefined) {
            $login.find('.user-details input[name=name]').val(userDetails.user.name);
        }
        if(userDetails.user !== undefined && userDetails.user.discipline !== undefined) {
            $login.find('.user-details input[name=discipline]').val(userDetails.user.discipline);
        }
        if(userDetails.user !== undefined && userDetails.user.email !== undefined) {
            $login.find('.user-details input[name=email]').val(userDetails.user.email);
        }
    } else {
        loginSuccess();
    }
});

if (userDetails !== null && (userDetails.details_needed == true || userDetails.details_needed == "true")) {
    $(window).trigger('login_callback');
} else if (userDetails !== null) {
    loginSuccess();
}

</script>
