<div class="search-text">
    <input type="text" id="search_query" name="filters[search_query]" placeholder="Search for a space, keyword or tag" />
</div>
<ul>
    <li><div class="header"><span class="title">I want to work...</span></div>
        <ul id="search-work">
            #{work[<li class="filter-option work #{attr}" data-id="#{attr}"><i class="icon-tick"></i><span>#{value}</span></li>]}
        </ul>
    </li>
    <li><div class="header"><span class="title">Atmosphere</span></div>
        <ul id="search-atmosphere">
            #{atmosphere[<li class="filter-option atmosphere #{attr}" data-id="#{attr}"><i class="icon-tick"></i><span>#{value}</span></li>]}
        </ul>
    </li>
    <li><div class="header"><span class="title">Noise levels</span></div>
        <ul  id="search-noise">
            #{noise[<li class="filter-option noise-level  #{title(attr="_")}" data-id="#{id}"><i class="#{title(icon)}"></i><span>#{title}</span></li>]}
        </ul>
    </li>
    <li><div class="header"><span class="title">Facilities</span></div>
        <ul id="search-facilities">
            #{facilities[<li class="filter-option facility #{attr}" data-id="#{attr}"><i class="#{icon}"></i><span>#{value}</span></li>]}
        </ul>
    </li>
    <li><div class="header"><span class="title">Tags</span></div>
        <ul id="search-tags">
            #{tags[<li class="filter-option tag #{name(attr="_")}" data-id=" #{id}"><i class="icon-tick"></i><span>#{name}</span></li>]}
        </ul>
    </li>
</ul>
<a class="btn search-button"><i class="icon-search"></i>Search</a>

<script type="text/javascript">
    $('.filter-option').on('click', function(event) {
        event.preventDefault();
        $(this).toggleClass('active');
        /* Act on the event */
    });

    $('.header').append(
        $('<a />')
        .append($('<i />').addClass('icon-arrow-down'))
        .addClass('section-collapse')
        .addClass('expanded')
        //.text('collapse')
        .on('click', function(event) {
            event.preventDefault();
            if($(this).hasClass('expanded')) {
                //collapse
                //$(this).text('expand');
                $(this).find('i').removeAttr('class').addClass('icon-arrow-up');
                $(this).parents('li').find('>ul:first-of-type').slideUp(300);
            } else {
                //expand
                //$(this).text('collapse');
                $(this).find('i').removeAttr('class').addClass('icon-arrow-down');
                $(this).parents('li').find('>ul:first-of-type').slideDown(300);
            }
            $(this).toggleClass('expanded');

        })
    );

    $('.search-button').on('click', function(event) {
        var $search = $(this),
            initText = $search.html();
        event.preventDefault();
        $search.height($search.height());
        $search.html('<i class="icon-loading"></i>');

        console.log('prep search');
        var searchString = prepSearch();
        loadSpaces({
            "queryString": searchString,
            "reset": true,
            "callback": function() {
                if(oldView !== undefined) {
                    window.location.hash = oldView;
                } else {
                    window.location.hash = '/';
                }
                $search.html(initText);
            }
        })
    });

    function prepSearch() {
        var query = '';
        $('#search-work .active').each(function(index, el) {
            query += '&filters[' + $(this).data('id').replace(/-/g, '_') + '][]=true';
        });
        $('#search-atmosphere .active').each(function(index, el) {
            query += '&filters[' + $(this).data('id').replace(/-/g, '_') + '][]=true';
        });
        $('#search-facilities .active').each(function(index, el) {
            query += '&filters[' + $(this).data('id').replace(/-/g, '_') + '][]=true';
        });
        $('#search-tags .active').each(function(index, el) {
            query += '&filters[with_tag_ids][]=' + $(this).data('id');
        });
        $('#search-noise .active').each(function(index, el) {
            query += '&filters[with_noise_ids][]=' + $(this).data('id');
        });
        query += '&filters[search_query]=' + $('#search_query').val();
        console.log(query.substr(1));
        return query.substr(1);
    }
</script>
