<div class="space">
    <div class="title">
        <a href="#" class="close-view icon-close"><span class="hidden">Close</span></a>
        <h1>#{name}</h1>
        <small>#{distance}les away</small>
    </div>
    <div class="gallery-container">
        <div class="gallery">
            <div class="gallery-images">
                #{images[<div style="background-image:url(#{value})" class="image"></div>]}
            </div>

        </div>
    </div>

    <div class="tabs">
        <ul>
            <li><a href="#info">Info</a></li>
            <li><a href="#tips">Tips</a></li>
            <li><a href="#map-#{id}">Map</a></li>
        </ul>
        <div class="tab-panel" id="info">

                <p>#{description}</p>
            <section class="section-facts">
                <h2>Key facts</h2>
                <ul>
                    <li><i class="icon-marker"></i><span>#{address}</span></li>
                    <li class="opening-times"><i class="icon-time-short"></i><span>#{opening_hours}</span></li>
                </ul>
            </section>
            <section class="lowlight section-facilities">
                <h2>Facilities</h2>
                <ul>
                    #{facilities[<li class="facility #{attr}"><i class="#{icon}"></i>#{value}</li>]}
                </ul>
            </section>
            <section class=" section-tags">
                <h2>Tags</h2>
                <ul>
                    #{tags[<li class="tag #{attr}">#{value}</li>]}
                </ul>
            </section>
            <section class="lowlight section-contact">
                <h2>Contact</h2>
                <dl>
                    <dt>Website:</dt><dd><a href="#{url}" title="#{name}">#{url}</a></dd>
                    <dt>Phone:</dt><dd><a href="tel:#{phone_number}" title="call now">#{phone_number}</a></dd>
                    <dt>Twitter:</dt><dd><a href="https://twitter.com/#{twitter_screen_name}" title="#{twitter_screen_name}">#{twitter_screen_name}</a></dd>
                    <dt>Facebook:</dt><dd><a href="https://facebook.com/#{facebook_url}" title="#{facebook_url}">#{facebook_url}</a></dd>
                </dl>
            </section>
        </div>
        <div class="tab-panel" id="tips">
            tips screen
        </div>
        <div class="map tab-panel" id="map-#{id}"></div>
    </div>
</div>
<script type="text/javascript">

var $space = $('#space-#{id}');
//stick headers
setTimeout(function () {
    $space.find('.tabs>ul').sticky({topSpacing:$space.find('.title').outerHeight()});
}, 500);
//close button
$space.find('.close-view').on('click', function(event) {
    event.preventDefault();
    if(oldView !== undefined) {
        window.location.hash = oldView;
    } else {
        window.location.hash = '/';
    }

});
//set up gallery
$space.find('.gallery>.gallery-images').width(($space.find('.gallery .image').length * 100) + '%')
//set up tabs
$space.find('.tabs').tabs({
    activate: function(e, ui) {
        console.log($(ui.newPanel).attr('id'));
        if($(ui.newPanel).attr('id') == "map-#{id}") {
            $(ui.newPanel).height($(window).height() - ($space.find('.ui-tabs-nav').outerHeight(true) + $space.find('.title').outerHeight(true)))
            google.maps.event.trigger(localMap, 'resize');
            localMap.setCenter(m.getPosition());
            $(document).scrollTop($space.find('.tabs').position(true).top - $space.find('.ui-tabs-nav').outerHeight(true));
        }
    }
});

var lat = Number(#{lat}),
    lng = Number(#{lng});

//set up map
if(lat !== null && lng !== null) {
    spaceMapOptions = {
        center: {'lat':lat, 'lng':lng},
        zoom: 18,
        disableDefaultUI: true
    }

    localMap = new google.maps.Map(document.getElementById('map-#{id}'), spaceMapOptions);

    var m;
    google.maps.event.trigger(localMap, 'resize');
    console.log(localMap);
    m = new google.maps.Marker({
        position: {'lat':lat, 'lng':lng},
        map:localMap,
        icon:markerSymbol
    });
    m.icon.fillColor = activeColor;
    m.icon.fillOpacity = 1;
    localMap.setCenter(m.getPosition());
} else {
    $space.find('a[href="#map-#{id}]"').remove();
}

if ($space.find(".section-tags li").length == 0) {
    $space.find(".section-tags").remove();
}

</script>
