#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #106470;
  z-index: 1;
  display: -webkit-flex;
  display: flex;
  border-bottom: 2px solid black;
  padding: 8px 4px 0; }
  #top-bar a {
    border-radius: 4px 4px 0 0;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    color: white;
    text-decoration: none;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    font-size: 1.2rem;
    line-height: 0; }
    #top-bar a#search-btn {
      -webkit-flex-grow: 0;
      flex-grow: 0;
      border-radius: 100%;
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.2);
      height: 36px;
      width: 36px;
      margin-right: 8px;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      #top-bar a#search-btn [class^="icon-"] {
        font-size: 1.2rem;
        margin-right: 0; }
      #top-bar a#search-btn.active {
        border-radius: 4px 4px 0 0;
        background: #F3F3F3;
        color: #212121;
        height: 42px;
        align-self: flex-start; }
    #top-bar a[class^="icon-"] {
      font-size: 1.2rem;
      padding: 0;
      margin: -15px 0 0 0;
      height: 2rem;
      line-height: 0; }
    #top-bar a.active {
      background-color: rgba(0, 0, 0, 0.2); }

.infoBubble {
  padding-bottom: 6px;
  min-width: 25vw;
  max-width: 90vw; }
  .infoBubble .icon-close {
    color: #FFF;
    top: 16px;
    right: 12px;
    width: 1rem;
    height: 1rem;
    z-index: 1; }

.map-info-bubble {
  color: #FFF;
  font-size: 0.9rem;
  line-height: 1.3rem;
  font-weight: normal;
  min-width: 25vw;
  max-width: 90vw; }
  .map-info-bubble p {
    margin-bottom: 0; }
  .map-info-bubble a {
    color: #FFF;
    display: block;
    margin: 6px 0; }
  .map-info-bubble h1 {
    font-weight: lighter;
    padding: 6px 36px 2px 0px;
    margin: 0;
    font-size: 2rem;
    border-bottom: 1px solid rgba(221, 221, 221, 0.2);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 1.2; }
    .map-info-bubble h1 a, .map-info-bubble h1 .title {
      color: #FFF;
      text-decoration: none;
      -webkit-flex-grow: 1;
      flex-grow: 1;
      margin-right: 30px;
      margin-bottom: 0;
      margin-top: 0; }
    .map-info-bubble h1 small {
      color: #9d9d9d;
      font-size: 14px;
      margin-top: 2px;
      min-width: 50px; }
  .map-info-bubble .facility {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    width: 2.1rem;
    font-size: 1.1rem; }

.multipoint ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  .multipoint ul li {
    border-bottom: 1px solid rgba(221, 221, 221, 0.2); }
    .multipoint ul li a {
      color: #FFF;
      text-decoration: none;
      padding: 12px 0;
      display: block;
      font-size: 1.1rem; }
    .multipoint ul li:last-child {
      border: none; }

#list {
  background: #FFF; }
  #list h1 {
    font-size: 2rem;
    width: 100%;
    margin-bottom: 12px;
    margin-top: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row; }
    #list h1 a {
      color: #106470;
      text-decoration: none;
      -webkit-flex-grow: 1;
      flex-grow: 1; }
  #list h2 > small {
    font-size: 1rem;
    text-transform: capitalize; }
  #list h1 + h2 {
    margin-top: -12px;
    margin-bottom: 18px; }
  #list h2 {
    border-bottom: none;
    color: #b5b5b5;
    font-size: 1rem;
    text-transform: uppercase;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row; }
    #list h2 span {
      -webkit-flex-grow: 1;
      flex-grow: 1; }
  #list .list-space {
    padding: 18px 12px 24px 12px;
    border-bottom: 1px solid #e8e8e8; }
    #list .list-space.hover {
      background-color: #F3F3F3; }
  #list .space-details {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row; }
  #list .description {
    margin-top: 0; }
  #list .space-image {
    min-width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    margin-right: 12px;
    justify-content: space-around;
    align-items: stretch; }
  #list .facility {
    display: inline-block;
    padding: 0 0 10px;
    width: 30px;
    text-align: center;
    color: #b0b0b0; }
  #list .empty-list {
    background: #F3F3F3;
    border: 1px solid #e8e8e8;
    padding: 12px;
    margin: 12px;
    color: #828282;
    text-align: center; }

.space-container {
  min-height: 100vh; }

.space {
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 10; }
  .space .close-view {
    position: absolute;
    left: 12px;
    top: 16px;
    color: #FFF;
    text-decoration: none;
    font-size: 1.4rem; }
  .space .title {
    background: #106470;
    position: fixed;
    min-height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 5px 0;
    text-align: center;
    color: #FFF; }
    .space .title h1 {
      font-family: 'myriad pro', verdana, sans-serif;
      font-size: 1.5rem;
      font-weight: lighter;
      line-height: 1;
      margin: 0;
      padding: 0; }
  .space .sticky-wrapper {
    z-index: 10; }
  .space .gallery-container {
    height: 50vh;
    position: relative;
    background-color: #b0b0b0; }
  .space .gallery-control {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    padding-top: 25vh; }
    .space .gallery-control [class^='icon-'] {
      font-size: 3rem;
      color: #FFF; }
    .space .gallery-control.disabled {
      opacity: 0.4; }
    .space .gallery-control.forward {
      text-align: right;
      right: 0; }
  .space .gallery {
    height: 100%;
    overflow: hidden;
    width: 100%; }
    .space .gallery .gallery-images {
      height: 100%;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row; }
    .space .gallery .image {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center; }
  .space .tabs .tab-panel {
    padding: 24px; }
  .space .tabs section {
    margin-bottom: 24px; }
    .space .tabs section a:not(.btn) {
      text-decoration: none;
      color: #0072cf; }
      .space .tabs section a:not(.btn):hover {
        text-decoration: underline; }
    .space .tabs section.section-facts {
      margin-top: 28px; }
      .space .tabs section.section-facts ul {
        list-style: none;
        padding-left: 0; }
      .space .tabs section.section-facts li {
        margin-bottom: 12px; }
        .space .tabs section.section-facts li span {
          display: block;
          margin-left: 1.8rem; }
      .space .tabs section.section-facts [class^="icon-"] {
        width: 1.6rem;
        max-width: 1.6rem;
        min-width: 1.6rem;
        text-align: center;
        font-size: 1.4rem;
        margin-top: -0.1rem;
        float: left;
        color: #3F3F3F; }
      .space .tabs section.section-facts dl {
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-align-content: stretch;
        align-content: stretch;
        margin: 0; }
      .space .tabs section.section-facts dt {
        font-style: normal;
        color: #000;
        text-align: left;
        width: 68px;
        margin-right: 6px;
        font-weight: normal; }
      .space .tabs section.section-facts dd {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        margin-left: 0;
        width: calc(100% - 74px);
        margin-bottom: 6px;
        word-wrap: break-word; }
      .space .tabs section.section-facts .today {
        color: #00b1c1; }
      .space .tabs section.section-facts .opening-grid {
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row;
        flex-flow: row; }
        .space .tabs section.section-facts .opening-grid strong {
          display: block;
          margin-bottom: 6px; }
    .space .tabs section.section-contact dl {
      display: -ms-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-align-content: stretch;
      align-content: stretch; }
    .space .tabs section.section-contact dt {
      font-style: normal;
      color: #000;
      text-align: right;
      width: 55px;
      margin-right: 6px; }
    .space .tabs section.section-contact dd {
      -webkit-flex-grow: 1;
      flex-grow: 1;
      margin-left: 0;
      width: calc(100% - 61px);
      margin-bottom: 6px;
      word-wrap: break-word; }
    .space .tabs section.section-tags ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    .space .tabs section.section-tags .tag {
      display: inline-block;
      background: #141212;
      margin: 0 6px 6px 0;
      padding: 6px 7px 4px;
      text-transform: uppercase;
      font-family: 'Myriad Pro', Verdana, sans-serif;
      font-weight: normal;
      font-size: 0.8rem;
      color: #FFF; }
    .space .tabs section.section-facilities ul {
      display: -ms-flex;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-align-content: stretch;
      align-content: stretch;
      list-style: none;
      padding: 0;
      margin: 0; }
    .space .tabs section.section-facilities i {
      display: block;
      font-size: 1.6em;
      margin-bottom: 8px; }
    .space .tabs section.section-facilities li {
      width: 33%;
      text-align: center;
      padding: 20px 0;
      font-size: 0.8rem; }
      @media screen and (min-width: 1500px) {
        .space .tabs section.section-facilities li {
          width: 25%; } }
    .space .tabs section.section-facilities li:nth-child(3n+3) {
      padding-right: 0; }
  .space .tabs .lowlight {
    background: #F3F3F3;
    padding: 24px;
    margin-left: -24px;
    margin-right: -24px; }
  .space .tabs .ui-tabs-nav {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    z-index: 1;
    background-color: #000;
    padding: 0;
    margin: 0; }
  .space .tabs .ui-tabs-nav.sticky {
    width: 100%;
    position: fixed; }
  .space .tabs .ui-tabs-nav > li {
    display: -webkit-flex;
    display: flex;
    color: white;
    text-decoration: none;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
    height: 100%;
    border-top: 3px solid transparent; }
  .space .tabs .ui-tabs-nav > li > a {
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #F3F3F3;
    text-transform: uppercase;
    font-size: 1.2rem;
    outline: none; }
  .space .tabs .ui-tabs-nav > li.ui-tabs-active {
    background-color: #FFF;
    border-top-color: #00b1c1; }
    .space .tabs .ui-tabs-nav > li.ui-tabs-active a {
      color: #212121; }
  .space .tabs .ui-tabs-nav.sticky {
    box-shadow: 1px 0 0 1px rgba(0, 0, 0, 0.2); }
  .space .tabs .map {
    height: 800px; }
  .space .add-tip {
    padding: 12px; }
  .space .no-tips {
    background: #F3F3F3;
    border: 1px solid #e8e8e8;
    padding: 12px;
    margin-top: 12px;
    color: #828282;
    text-align: center; }
  .space .tip {
    padding: 12px 0;
    border-top: 1px solid #e8e8e8; }
    .space .tip:before {
      border-top: none; }
    .space .tip .meta {
      display: flex;
      display: -webkit-flex;
      -webkit-flex-direction: row;
      flex-direction: row; }
    .space .tip .comment {
      padding: 6px 0 0; }
    .space .tip .avatar {
      width: 50px;
      height: 50px;
      background-size: cover;
      background-position: center;
      background-color: #e8e8e8;
      flex-grow: 0;
      -webkit-flex-grow: 0;
      margin-right: 6px; }
    .space .tip .user, .space .tip .timestamp {
      flex-grow: 1;
      -webkit-flex-grow: 1; }
    .space .tip .name {
      display: block;
      font-size: 1.2rem; }
    .space .tip .discipline, .space .tip .timestamp {
      color: #9c9c9c; }
    .space .tip .timestamp {
      text-align: right;
      min-width: 30px; }
  .space .tips-container.loading {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center; }
  .space .tips-container .loading {
    text-align: center;
    width: 100%;
    height: 50px; }
    .space .tips-container .loading i {
      font-size: 2rem; }

@font-face {
  font-family: 'spacefinder';
  src: url("../fonts/spacefinder.eot?-yrj0gh");
  src: url("../fonts/spacefinder.eot?#iefix-yrj0gh") format("embedded-opentype"), url("../fonts/spacefinder.ttf?-yrj0gh") format("truetype"), url("../fonts/spacefinder.woff?-yrj0gh") format("woff"), url("../fonts/spacefinder.svg?-yrj0gh#spacefinder") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'spacefinder';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  text-decoration: inherit;
  margin-right: .2em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.icon-pencil:before {
  content: "\e621"; }

.icon-callout:before {
  content: "\e622"; }

.icon-arrow-up:before {
  content: "\e61e"; }

.icon-arrow-right:before {
  content: "\e61f"; }

.icon-arrow-down:before {
  content: "\e620"; }

.icon-arrow-left:before {
  content: "\e61d"; }

.icon-loading {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

.icon-loading:before {
  content: "\e61c"; }

.icon-tick:before {
  content: "\e61b"; }

.icon-views:before {
  content: "\e600"; }

.icon-bench:before {
  content: "\e601"; }

.icon-close:before {
  content: "\e602"; }

.icon-add {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg); }

.icon-add:before {
  content: "\e602"; }

.icon-coffee:before {
  content: "\e603"; }

.icon-computer:before {
  content: "\e604"; }

.icon-desk:before {
  content: "\e605"; }

.icon-drink:before {
  content: "\e606"; }

.icon-laptop:before {
  content: "\e607"; }

.icon-list:before {
  content: "\e608"; }

.icon-marker:before {
  content: "\e609"; }

.icon-music:before {
  content: "\e60a"; }

.icon-no-wifi:before {
  content: "\e60b"; }

.icon-phone:before {
  content: "\e60c"; }

.icon-power:before {
  content: "\e60d"; }

.icon-printer:before {
  content: "\e60e"; }

.icon-projector:before {
  content: "\e60f"; }

.icon-search:before {
  content: "\e610"; }

.icon-sound-0:before {
  content: "\e611"; }

.icon-sound-1:before {
  content: "\e612"; }

.icon-sound-2:before {
  content: "\e613"; }

.icon-sound-3:before {
  content: "\e614"; }

.icon-sun:before {
  content: "\e615"; }

.icon-time-long:before {
  content: "\e616"; }

.icon-time-short:before {
  content: "\e617"; }

.icon-toilet:before {
  content: "\e618"; }

.icon-whiteboard:before {
  content: "\e619"; }

.icon-wifi:before {
  content: "\e61a"; }

#search {
  background: #F3F3F3;
  padding-bottom: 60px; }
  #search .search-text {
    background-color: #F3F3F3;
    border-bottom: 1px solid #e8e8e8;
    padding: 12px; }
    #search .search-text input {
      -webkit-appearance: none;
      border-radius: 0;
      border: none;
      background-color: #bdbdbd;
      width: 100%;
      padding: 12px;
      font-size: 1rem; }
      #search .search-text input::-webkit-input-placeholder {
        color: #212121; }
      #search .search-text input:-moz-placeholder {
        /* Firefox 18- */
        color: #212121; }
      #search .search-text input::-moz-placeholder {
        /* Firefox 19+ */
        color: #212121; }
      #search .search-text input:-ms-input-placeholder {
        color: #212121; }
  #search .header {
    background-color: #F3F3F3;
    font-family: 'Myriad Pro', verdana, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    display: -webkit-flex;
    display: flex;
    line-height: 1rem; }
    #search .header .title {
      padding: 12px 12px;
      -webkit-flex-grow: 1;
      flex-grow: 1; }
    #search .header .section-collapse {
      height: 100%;
      padding: 12px 12px;
      border-left: 1px solid #e8e8e8; }
  #search ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #search ul li.expanded {
      border-bottom: 1px solid #c4c4c4; }
    #search ul > li {
      border-bottom: 1px solid #e8e8e8; }
    #search ul ul li {
      border: none;
      padding: 0 0 0 12px;
      margin: 0 4px;
      background-color: #FFF; }
      #search ul ul li:first-child {
        border-top: 1px solid #fcfcfc; }
      #search ul ul li:last-child {
        border-bottom: none; }
        #search ul ul li:last-child div {
          border-bottom: none; }
      #search ul ul li [class^="icon-"] {
        font-size: 1rem;
        width: 1.8rem;
        text-align: center;
        margin-right: 6px;
        color: #e8e8e8; }
      #search ul ul li.active {
        color: #141212;
        font-family: 'Myriad Pro', verdana, sans-serif;
        font-weight: normal; }
        #search ul ul li.active [class^="icon-"] {
          color: #141212; }
  #search .filter-option > div {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    border-bottom: 1px solid #e8e8e8;
    padding: 18px 0 15px 0;
    cursor: pointer; }
    #search .filter-option > div p {
      -webkit-flex-grow: 1;
      flex-grow: 1;
      padding: 0;
      margin: 0; }
    #search .filter-option > div p::first-letter {
      text-transform: uppercase; }
  #search .search-button {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 18px;
    font-size: 1.2rem; }
    #search .search-button [class^="icon-"] {
      font-size: 1rem;
      margin-right: 6px; }
    #search .search-button .icon-loading {
      font-size: 2rem; }

.new-tip-container {
  min-height: 100vh;
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 20;
  padding-top: 50px; }
  .new-tip-container .close-view, .new-tip-container .back {
    position: absolute;
    left: 12px;
    top: 16px;
    color: #FFF;
    text-decoration: none;
    font-size: 1.4rem; }
  .new-tip-container .title {
    background: #106470;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 5px 0;
    text-align: center;
    color: #FFF;
    min-height: 50px; }
    .new-tip-container .title h1 {
      font-family: 'myriad pro', verdana, sans-serif;
      font-size: 1.5rem;
      font-weight: normal;
      line-height: 1;
      margin: 0;
      padding: 0; }
  .new-tip-container .space-summary {
    padding: 12px;
    background-color: #F3F3F3; }
  .new-tip-container .parts-container {
    position: relative;
    margin: 12px; }
    .new-tip-container .parts-container .part-moving {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }
    .new-tip-container .parts-container .part-1 textarea {
      width: 100%;
      padding: 6px;
      border: 1px solid #e8e8e8;
      font-size: 1rem; }
    .new-tip-container .parts-container .questions {
      list-style: none;
      margin: 0 0 24px 0;
      padding: 0; }
      .new-tip-container .parts-container .questions li {
        padding: 24px 12px;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row; }
        .new-tip-container .parts-container .questions li .control {
          align-self: flex-end;
          -webkit-align-self: flex-end;
          flex-grow: 1;
          -webkit-flex-grow: 1;
          text-align: right; }
          .new-tip-container .parts-container .questions li .control a {
            padding: 18px;
            background-color: #F3F3F3;
            text-decoration: none;
            color: #212121; }
            .new-tip-container .parts-container .questions li .control a.active {
              background-color: #E37222;
              color: #FFF; }
            .new-tip-container .parts-container .questions li .control a:first-child {
              margin-right: 6px; }
    .new-tip-container .parts-container .btn, .new-tip-container .parts-container .login-screen input[type=submit], .login-screen .new-tip-container .parts-container input[type=submit] {
      width: 100%;
      font-size: 1.4rem;
      padding: 12px; }
  .new-tip-container textarea, .new-tip-container button {
    -webkit-appearance: none;
    border-radius: 0;
    border: none; }

.new-tag-container {
  min-height: 100vh;
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 20;
  padding-top: 50px; }
  .new-tag-container .close-view, .new-tag-container .back {
    position: absolute;
    left: 12px;
    top: 16px;
    color: #FFF;
    text-decoration: none;
    font-size: 1.4rem; }
  .new-tag-container .title {
    background: #106470;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 5px 0;
    text-align: center;
    color: #FFF;
    min-height: 50px; }
    .new-tag-container .title h1 {
      font-family: 'myriad pro', verdana, sans-serif;
      font-size: 1.5rem;
      font-weight: normal;
      line-height: 1;
      margin: 0;
      padding: 0; }
  .new-tag-container .space-summary {
    padding: 12px;
    background-color: #F3F3F3; }
  .new-tag-container .tag-form-container {
    padding: 12px; }
  .new-tag-container .section-tags ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .new-tag-container .section-tags ul li {
      display: inline-block;
      background: #e8e8e8;
      margin: 0px 12px 6px 0;
      padding: 3px 12px; }
  .new-tag-container .section-new {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-direction: row; }
    .new-tag-container .section-new .btn-inline {
      padding-left: 12px;
      padding-right: 12px;
      margin-left: 12px; }
    .new-tag-container .section-new input {
      -webkit-flex-grow: 1;
      flex-grow: 1;
      font-size: 1rem;
      padding: 6px;
      -webkit-appearance: none;
      border-radius: 0;
      border: 1px solid #e8e8e8; }
  .new-tag-container .new-tags-list {
    list-style: none;
    margin: 0;
    padding: 0; }
    .new-tag-container .new-tags-list li {
      display: inline-block;
      background: #e8e8e8;
      margin: 6px 12px 6px 0;
      padding: 3px 12px; }
      .new-tag-container .new-tags-list li a {
        font-size: 1rem;
        margin-left: 12px; }
        .new-tag-container .new-tags-list li a:before {
          font-size: 0.7rem;
          color: #FFF; }
  .new-tag-container .tag-submit {
    margin-top: 12px; }

.login-screen {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #FFF;
  width: 100%;
  height: 100%;
  z-index: 30;
  padding: 12px; }
  .login-screen .login {
    max-width: 400px;
    margin: 0 auto; }
  .login-screen .raven-login {
    border-bottom: 1px solid #e8e8e8;
    margin: 0;
    padding: 24px; }
  .login-screen .facebook-login {
    padding: 24px; }
    .login-screen .facebook-login .facebook-login-button {
      background-color: #3a5a9b;
      background-image: url(/assets/img/facebook-logo.png);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain; }
  .login-screen .raven-logo {
    text-align: center; }
  .login-screen input {
    display: block;
    -webkit-appearance: none;
    border-radius: 0; }
    .login-screen input[type=text], .login-screen input[type=password] {
      border: 1px solid #e8e8e8;
      width: 100%;
      padding: 6px;
      margin: 12px 0; }

.user-avatar-container {
  width: 150px;
  margin: 24px auto 0; }
  .user-avatar-container .btn, .user-avatar-container .login-screen input[type=submit], .login-screen .user-avatar-container input[type=submit] {
    font-size: 1rem;
    bottom: 0;
    width: 100%; }

.user-avatar {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background-color: #e8e8e8;
  background-size: cover;
  background-position: center;
  position: relative; }

body, html {
  padding: 0;
  margin: 0;
  background: #2e2e2e;
  font-size: 14px;
  height: 100vh;
  font-family: 'Myriad Pro', verdana, sans-serif;
  font-weight: lighter; }

* {
  box-sizing: border-box; }

strong {
  font-family: 'Myriad Pro', verdana, sans-serif;
  font-weight: normal; }

.view-container {
  display: flex;
  min-height: calc(100vh - 50px);
  width: 100%;
  margin-top: 50px;
  left: 0; }

.hidden {
  display: none; }

h1 {
  font-weight: lighter; }

h2 {
  border-bottom: 1px solid #e8e8e8;
  font-size: 1.25rem;
  font-weight: lighter;
  color: #106470;
  margin-top: 0; }

.btn, .login-screen input[type=submit], .btn-inline {
  width: 100%;
  text-align: center;
  background: #642c73;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 6px 4px;
  font-size: 1.4rem;
  display: inline-block;
  font-family: 'MyriadPro-Light';
  border: none; }
  .btn.disabled, .login-screen input.disabled[type=submit], .btn-inline.disabled {
    background: #e8e8e8; }

.btn-inline {
  display: inline-block;
  width: auto;
  font-size: 1rem;
  padding: 9px 6px 3px; }

.loading-cover {
  background-color: #F3F3F3;
  color: #FFF;
  font-size: 2rem;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  text-align: center;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }
  .loading-cover.loaded {
    background-color: transparent; }
    .loading-cover.loaded .svg-container {
      top: 0vh;
      width: 100vmin;
      height: 110vmin;
      opacity: 0; }
  .loading-cover .icon-loading {
    margin-top: 20vh;
    display: block;
    font-size: 3rem;
    margin-bottom: 20px; }
  .loading-cover .svg-container {
    display: inline-block;
    position: relative;
    top: 20vh;
    width: 30vmin;
    height: 35vmin;
    margin: 0 auto;
    vertical-align: middle;
    overflow: hidden;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    animation-duration: 0.8s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-direction: alternate; }
  .loading-cover .shadow {
    cursor: crosshair;
    -moz-box-shadow: -5px -5px 5px #888;
    -webkit-box-shadow: -5px -5px 5px #888;
    box-shadow: -5px -5px 5px #888; }
  .loading-cover svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0; }
    .loading-cover svg g {
      width: 100%; }

.large_view {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  overflow: hidden;
  height: 100vh; }
  .large_view .view-container {
    display: flex;
    min-height: calc(100% - 50px);
    width: 50%;
    margin-top: 50px;
    left: auto;
    -webkit-overflow-scrolling: touch; }
  .large_view #map {
    width: 100%; }
  .large_view #list, .large_view #search, .large_view #map {
    display: block;
    display: block;
    max-height: 100vh;
    overflow: auto; }
  .large_view #list {
    background-color: #FFF;
    max-width: 510px;
    min-width: 425px; }
    .large_view #list .list-space {
      padding: 18px 18px 24px 18px; }
  .large_view #search {
    min-width: 256px;
    max-width: 256px;
    -webkit-flex-grow: 0;
    flex-grow: 0; }
    .large_view #search .search-button {
      width: 256px; }
    .large_view #search ul ul li div {
      padding: 12px 0 12px 0px; }
  .large_view .space-container {
    min-height: 0;
    margin-top: 50px;
    height: calc(100% - 50px);
    overflow: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    max-width: 510px;
    min-width: 425px; }
  .large_view .space {
    position: relative;
    min-height: calc(100% - 50px);
    width: auto;
    z-index: 0; }
    .large_view .space .title {
      position: relative;
      background: rgba(0, 0, 0, 0.8); }
    .large_view .space .gallery-container {
      margin-top: -50px; }
    .large_view .space .lowlight {
      background: #F3F3F3;
      padding: 12px;
      margin-left: -12px;
      margin-right: -12px;
      padding-top: 18px;
      padding-bottom: 18px; }
  .large_view .new-tag-container, .large_view .new-tip-container {
    position: relative;
    padding: 0; }
    .large_view .new-tag-container .title, .large_view .new-tip-container .title {
      position: relative; }
