#list {
    background: $lightBackgroundColor;
    h1 {
        a {
            color: $barColor;
            text-decoration: none;
            -webkit-flex-grow: 1;
            flex-grow: 1;
        }
        font-size: 2rem;

        width: 100%;
        margin-bottom: 12px;
        margin-top: 0;
        font-weight: normal;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
    }
    h1>small {
        color: $lowlight;
        font-size: 1.2rem;
        margin-top: 12px;
    }
    h1+h2 {
        margin-top: -12px;
    }
    h2 {
        border-bottom: none;
        color: darken($lowlight, 20%);
        font-size: 1rem;
        font-weight: normal;
    }


    .list-space {
        padding: 12px;
        border-bottom: 1px solid $lowlight;

        &.hover {
            background-color: $lightBackgroundColor;
        }

    }
    .space-details {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
    }

    .description {
        margin-top: 0;
    }

    .space-image {
        min-width: 100px;
        height: 100px;
        background-size: cover;
        background-position: center;
        margin-right: 12px;
        justify-content: space-around;
        align-items: stretch;
    }

    .facility {
        display: inline-block;
        padding: 0 0 10px;
        width: 30px;
        text-align: center;
        //border: 1px solid;
    }

    .empty-list {
        background: $lightBackgroundColor;
        border: 1px solid $lowlight;
        padding: 12px;
        margin: 12px;
        color: darken($lowlight, 40%);
        text-align: center;
    }
}
