#list {
    background: #FFF;
    -webkit-flex-direction:column;
    flex-direction:column;
    padding-top: 50px;
    h1 {
        a {
            color: $barColor;
            text-decoration: none;
            -webkit-flex-grow: 1;
            flex-grow: 1;
        }
        font-size: 2rem;

        width: 100%;
        margin-bottom: 12px;
        margin-top: 0;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
    }
    h2>small {
        font-size: 1rem;
        text-transform: capitalize;
        //margin-top: 12px;
    }
    h1+h2 {
        margin-top: -12px;
        margin-bottom: 18px;
    }
    h2 {
        border-bottom: none;
        color: darken($lowlight, 20%);
        font-size: 1rem;
        text-transform: uppercase;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        span {
            -webkit-flex-grow: 1;
            flex-grow: 1;
        }
    }


    .list-space {
        padding: 18px 12px 24px 12px;
        border-bottom: 1px solid $lowlight;
        &.hover {
            background-color: $lightBackgroundColor;
        }

    }
    .space-details {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
    }

    .description {
        margin-top: 0;
        height: 5rem;
        overflow: hidden;
    }

    .space-image {
        min-width: 100px;
        height: 100px;
        background-size: cover;
        background-position: center;
        margin-right: 12px;
        justify-content: space-around;
        align-items: stretch;
    }

    .facility {
        display: inline-block;
        padding: 0 0 10px;
        width: 30px;
        text-align: center;
        color: $bodyColor;
        //border: 1px solid;
    }

    .empty-list {
        background: $lightBackgroundColor;
        border: 1px solid $lowlight;
        padding: 12px;
        margin: 12px;
        color: darken($lowlight, 40%);
        text-align: center;

    }

    .more-spaces-link {
        @extend .btn-inline;
        //width: 100%;
        background: $lowlight!important;
        color: $fontColor!important;
        padding: 16px!important;
        float: right;

    }

    .list-footer {
        text-align: right;
        background-color: $backgroundColor;
        padding: 24px;
        color: #FFF;

        & > span {
            float: left;
        }

        a {
            color: #FFF;
            text-decoration: none;
        }
    }

    .list-meta {
        border-bottom: 1px solid $lowlight;
        position:fixed;
        top: 50px;
        @extend #list;
        padding: 0!important;
        background-color: #FFF;
        width: 26%;
        &:after {
            content: '';
            clear: both;
            display: block;
            width: 100%;
        }
        .spaces-count {
            padding:16px;
            float: left;
        }

        a {
            font-weight: normal;
        }
    }
    .extended-description {
        border-bottom: 1px solid $lowlight;
        text-align: center;
        padding: 16px;
        background: $lightBackgroundColor
    }
}
