#top-bar {
    //overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $navHeight;
    background: $barColor;
    z-index: 10;
    display: -webkit-flex;
    display: flex;
    //display: none;
    border-bottom: 2px solid black;
    padding: 8px 4px 0;
    .large-nav {
        display: none;
    }
    a {
        border-radius: 4px 4px 0 0;
        height: 100%;
        display: -webkit-flex;
        display: flex;
        color:white;
        text-decoration: none;
        -webkit-flex-grow:1;
        flex-grow: 1;
        text-align: center;
        justify-content: center;
        -webkit-justify-content:center;
        flex-direction: row;
        -webkit-flex-direction:row;
        -webkit-align-items:center;
        align-items: center;
        font-size: 1.2rem;
        line-height: 0;
        &#search-btn {
            -webkit-flex-grow:0;
            flex-grow: 0;
            border-radius: 100%;
            padding: 5px;
            background-color: rgba(0,0,0,0.2);
            height: 36px;
            width: 36px;
            margin-right: 8px;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear;

            [class^="icon-"] {
                font-size: 1.2rem;
                margin-right: 0;
            }

            &.active {
                border-radius: 4px 4px 0 0;
                background: $lightBackgroundColor;
                color:$fontColor;
                height: 42px;
                align-self: flex-start;
            }
        }
        &[class^="icon-"] {
            font-size: 1.2rem;
            padding: 0;
            margin: -15px 0 0 0;
            height: 2rem;
            line-height: 0;
        }

        &.active {
            background-color: rgba(0,0,0,0.2);
            //border-bottom: 2px solid black;
        }

    }
}
