#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #106470;
  z-index: 1;
  display: -webkit-flex;
  display: flex;
  border-bottom: 2px solid black;
  padding: 8px 4px 0; }
  #top-bar a {
    border-radius: 4px 4px 0 0;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    color: white;
    text-decoration: none;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    font-size: 1.2rem;
    line-height: 0; }
    #top-bar a#search-btn {
      -webkit-flex-grow: 0;
      flex-grow: 0;
      border-radius: 100%;
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.2);
      height: 36px;
      width: 36px;
      margin-right: 8px;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      #top-bar a#search-btn [class^="icon-"] {
        font-size: 1.2rem;
        margin-right: 0; }
      #top-bar a#search-btn.active {
        border-radius: 4px 4px 0 0;
        background: #F3F3F3;
        color: #212121;
        height: 42px;
        align-self: flex-start; }
    #top-bar a[class^="icon-"] {
      font-size: 1.2rem;
      padding: 0;
      margin: -15px 0 0 0;
      height: 2rem;
      line-height: 0; }
    #top-bar a.active {
      background-color: rgba(0, 0, 0, 0.2); }

@font-face {
  font-family: 'spacefinder';
  src: url("../fonts/spacefinder.eot?-yrj0gh");
  src: url("../fonts/spacefinder.eot?#iefix-yrj0gh") format("embedded-opentype"), url("../fonts/spacefinder.ttf?-yrj0gh") format("truetype"), url("../fonts/spacefinder.woff?-yrj0gh") format("woff"), url("../fonts/spacefinder.svg?-yrj0gh#spacefinder") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'spacefinder';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  text-decoration: inherit;
  margin-right: .2em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.icon-pencil:before {
  content: "\e621"; }

.icon-callout:before {
  content: "\e622"; }

.icon-arrow-up:before {
  content: "\e61e"; }

.icon-arrow-right:before {
  content: "\e61f"; }

.icon-arrow-down:before {
  content: "\e620"; }

.icon-arrow-left:before {
  content: "\e61d"; }

.icon-loading {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

.icon-loading:before {
  content: "\e61c"; }

.icon-tick:before {
  content: "\e61b"; }

.icon-views:before {
  content: "\e600"; }

.icon-bench:before {
  content: "\e601"; }

.icon-close:before {
  content: "\e602"; }

.icon-add {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg); }

.icon-add:before {
  content: "\e602"; }

.icon-coffee:before {
  content: "\e603"; }

.icon-computer:before {
  content: "\e604"; }

.icon-desk:before {
  content: "\e605"; }

.icon-drink:before {
  content: "\e606"; }

.icon-laptop:before {
  content: "\e607"; }

.icon-list:before {
  content: "\e608"; }

.icon-marker:before {
  content: "\e609"; }

.icon-music:before {
  content: "\e60a"; }

.icon-no-wifi:before {
  content: "\e60b"; }

.icon-phone:before {
  content: "\e60c"; }

.icon-power:before {
  content: "\e60d"; }

.icon-printer:before {
  content: "\e60e"; }

.icon-projector:before {
  content: "\e60f"; }

.icon-search:before {
  content: "\e610"; }

.icon-sound-0:before {
  content: "\e611"; }

.icon-sound-1:before {
  content: "\e612"; }

.icon-sound-2:before {
  content: "\e613"; }

.icon-sound-3:before {
  content: "\e614"; }

.icon-sun:before {
  content: "\e615"; }

.icon-time-long:before {
  content: "\e616"; }

.icon-time-short:before {
  content: "\e617"; }

.icon-toilet:before {
  content: "\e618"; }

.icon-whiteboard:before {
  content: "\e619"; }

.icon-wifi:before {
  content: "\e61a"; }

@font-face {
  font-family: 'MyriadPro-Light';
  src: url("/assets/fonts/MyriadPro-Light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/MyriadPro-Light.otf") format("opentype"), url("/assets/fonts/MyriadPro-Light.woff") format("woff"), url("/assets/fonts/MyriadPro-Light.ttf") format("truetype"), url("/assets/fonts/MyriadPro-Light.svg#MyriadPro-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
body, html {
  padding: 0;
  margin: 0;
  background: #2e2e2e;
  font-size: 14px;
  font-family: 'MyriadPro-Light', verdana, sans-serif; }

body * {
  box-sizing: border-box; }

body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 50px; }
  body.small-page {
    -webkit-justify-content: center;
    justify-content: center;
    padding-top: 0; }

.container {
  width: 100%;
  max-width: 800px;
  background-color: #FFF;
  padding: 12px; }

h1 {
  font-weight: normal; }

h1 > small {
  display: block; }

.btn, .btn-inline {
  width: 100%;
  text-align: center;
  background: #642c73;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 6px 4px;
  font-size: 1.4rem;
  display: inline-block;
  font-family: 'MyriadPro-Light';
  border: none; }
  .btn.disabled, .btn-inline.disabled {
    background: #e8e8e8; }

.btn-inline {
  display: inline-block;
  width: auto;
  font-size: 1rem;
  padding: 9px 6px 3px; }

.login {
  text-align: center;
  max-width: 500px;
  width: 90%; }
  .login .btn {
    margin-top: 24px; }

#top-bar {
  padding-top: 12px;
  display: block; }
  #top-bar .title {
    font-size: 1.4rem;
    float: left; }
  #top-bar .logout {
    padding-top: 12px;
    float: right;
    text-align: right; }

.overview {
  max-width: 600px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }
  .overview a {
    width: 100%;
    height: 200px;
    padding: 24px;
    font-size: 1.4rem;
    text-decoration: none;
    color: #106470;
    border-right: 1px solid #e8e8e8;
    text-align: center; }
    .overview a > span {
      display: block; }
    .overview a i {
      display: block;
      margin: 24px 0; }
    .overview a .bubble {
      display: inline-block;
      background-color: #e10000;
      color: #FFF;
      padding: 6px 12px;
      margin-top: -18px;
      border-radius: 100%;
      font-size: 1rem;
      font-weight: bold; }
    .overview a:last-child {
      border: none; }
  @media screen and (max-width: 600px) {
    .overview {
      -webkit-flex-direction: column;
      flex-direction: column;
      margin-top: 50px; }
      .overview a {
        font-size: 2rem;
        border-right: none;
        border-bottom: 1px solid #e8e8e8; } }

#spaces {
  width: 100%;
  max-width: 600px;
  text-align: center;
  background-color: #F3F3F3; }
  #spaces select {
    margin: 12px; }

.header {
  text-transform: uppercase;
  display: -webkit-flex;
  display: flex;
  line-height: 1rem;
  background-color: #F3F3F3;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 6px -12px 6px -12px; }
  .header .title {
    padding: 12px 12px;
    -webkit-flex-grow: 1;
    flex-grow: 1; }
  .header .section-collapse {
    height: 100%;
    padding: 12px 12px;
    border-left: 1px solid #e8e8e8; }
  .header:first-of-type {
    margin-top: -12px; }

.section {
  padding-bottom: 24px; }

.hidden {
  display: none; }

.term-times, .holiday-times {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  .term-times > div, .holiday-times > div {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    width: calc(100% - 120px); }
  .term-times .field, .holiday-times .field {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    width: 100px; }
  .term-times .closed, .term-times .times, .holiday-times .closed, .holiday-times .times {
    background-color: #F3F3F3;
    border: 1px solid #e8e8e8;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px; }
  .term-times .times, .holiday-times .times {
    padding-top: 5px;
    padding-bottom: 5px; }
    .term-times .times label, .holiday-times .times label {
      display: inline-block; }
  .term-times .splitter, .holiday-times .splitter {
    display: inline-block;
    padding: 0 12px; }

input[type=text], input[type=password], input[type=number], textarea {
  -webkit-appearance: none;
  border: 1px solid #e8e8e8;
  border-radius: 0;
  display: block;
  font-size: 1rem;
  padding: 6px;
  margin: 0;
  width: 100%;
  font-family: 'Myriad Pro', verdana, sans-serif;
  font-weight: lighter; }
  input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, textarea:focus {
    -webkit-outline: none;
    outline: none;
    border-color: #00b1c1; }

.pre-fill {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  background: #FFF;
  border: 1px solid #e8e8e8; }
  .pre-fill.focus {
    border-color: #00b1c1; }
  .pre-fill span {
    padding: 6px 6px 0; }
  .pre-fill input {
    border: none;
    padding-left: 0;
    -webkit-flex-grow: 1;
    flex-grow: 1; }
    .pre-fill input:focus {
      border-color: transparent; }

.edit select {
  display: block; }
.edit .field {
  padding: 12px; }
.edit label {
  display: block; }
.edit input[type=checkbox] {
  display: none; }
.edit input[type=checkbox] + [class^="icon-"] {
  border: 1px solid #e8e8e8;
  padding: 4px 3px;
  color: #e8e8e8;
  font-size: 0.8rem;
  margin-right: 6px; }
.edit input[type=checkbox]:checked + [class^="icon-"] {
  color: #E37222; }

.btn, input[type="submit"], button, .btn-inline {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  width: 100%;
  text-align: center;
  background: #642c73;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 6px 4px;
  font-size: 1.4rem;
  display: inline-block;
  font-family: 'MyriadPro-Light';
  border: none; }
  .btn.disabled, input[type="submit"].disabled, button.disabled, .btn-inline.disabled {
    background: #e8e8e8; }

.btn-inline {
  display: inline-block;
  width: auto;
  font-size: 1rem;
  padding: 9px 6px 3px; }

.location {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  .location .field {
    width: 50%; }
  .location .get-location {
    display: block;
    width: 100%;
    -webkit-flex-grow: 2;
    flex-grow: 2;
    margin: 0 12px; }

.tips .tip {
  background-color: #FFF;
  padding: 12px 0;
  border-bottom: 1px solid #e8e8e8; }
  .tips .tip.new {
    background-color: #F3F3F3;
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 12px;
    padding-right: 12px; }
  .tips .tip:last-child {
    border: none; }
  .tips .tip:before {
    border-top: none; }
  .tips .tip .meta {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-direction: row; }
  .tips .tip .comment {
    padding: 12px 0; }
  .tips .tip .avatar {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-color: #e8e8e8;
    flex-grow: 0;
    -webkit-flex-grow: 0;
    margin-right: 6px; }
  .tips .tip .user, .tips .tip .timestamp {
    flex-grow: 1;
    -webkit-flex-grow: 1; }
  .tips .tip .name {
    display: block;
    font-size: 1.2rem; }
  .tips .tip .discipline, .tips .tip .timestamp {
    color: #9c9c9c; }
  .tips .tip .timestamp {
    text-align: right;
    min-width: 30px; }
  .tips .tip .buttons {
    padding-top: 12px; }
    .tips .tip .buttons:after {
      content: '';
      width: 100%;
      clear: both;
      height: 1px; }
    .tips .tip .buttons .remove {
      background-color: #000; }
    .tips .tip .buttons .respond {
      float: right; }
