$backgroundColor: #2e2e2e;
$lightBackgroundColor:#F3F3F3;
$barColor:#106470;
$titleColor:#e7e7e7;
$bodyColor:#b0b0b0;
$highlightI:#E37222;
$highlight:#00b1c1;
$lowlight:#e8e8e8;
$fontColor: #212121;


$navHeight:50px;
