<div class="login">
    <div class="welcome">
        Please login to continue. You can either use your University of Cambridge login details or sign in with your facebook details.

    </div>
    <div class="raven-login">
        <div class="raven-logo">
            <%= image_tag('raven-logo.gif', alt: 'Raven logo') %>
            
        </div>
        <a href="#" class="raven-login-button btn">Login with raven</a>
    </div>
    <div class="facebook-login">
        <a class="facebook-login-button btn" href="#">Login with facebook</a>
    </div>
</div>
<div class="user-details" style="display:none;">
    Thanks for logging in. It looks like this is the first time you have logged in so we need a few more details from you before you can continue.


    <div class="user-avatar-container">
        <div class="user-avatar"></div>
        <a href="#" class="avatar-upload-button btn">Change image</a>

    </div>
    <form id="update-user-details">
        <input type="hidden" name="_method" value="patch" />
        <input type="file" class="avatar-upload" style="visibility:hidden;"/>
        <input type="hidden" name="user[avatar]" />
        <input placeholder="Display name *" type="text" name="user[name]" />
        <input placeholder="Discipline of study *" type="text" name="user[discipline]" />
        <input placeholder="email *" type="text" name="user[email]" />
        <input type="hidden" id="csrf" />
        <input type="submit" value="Update details" />
    </form>

</div>
<script type="text/javascript">
$login = $('.login-screen');

if (typeof ga !== "undefined") {
    ga('set', 'page', '/login');
    if (userDetails !== null && userDetails.id > 0) {
        ga('set', 'userId', userDetails.id);
    }
    ga('send', 'pageview');
}


$login.find('#update-user-details').submit(function(event) {
    event.preventDefault();
    console.log('submit details update');
    $login.find('#csrf').attr('name', $('meta[name="csrf-param"]').attr('content')).val($('meta[name="csrf-token"]').attr('content'));
    console.log($(this).serialize());
    var error = false;
    if ($login.find('input[name="user[name]"]').val() == '') {
        error = true;
        $login.find('input[name="user[name]"]').addClass('error');
    }
    if ($login.find('input[name="user[discipline]"]').val() == '') {
        error = true;
        $login.find('input[name="user[discipline]"]').addClass('error');
    }
    if ($login.find('input[name="user[email]"]').val() == '') {
        error = true;
        $login.find('input[name="user[email]"]').addClass('error');
    }
    if (!!error) {
        return false;
    }
    $login.find('input[type=submit]').html('<i class="icon-loading"></i>')
    $.ajax({
        url: domain + 'user?callback=?',
        //url: '/assets/data/login.json',
        method: 'POST',
        data: $(this).serialize()
    })
    .done(function(data) {
        $login.find('input[type=submit]').html('Update details')
        if(data.status == "ok") {
            $.extend(userDetails, data);
            if(!userDetails.details_needed) {
                loginSuccess();
            }
        }
    })
    .fail(function() {
        console.log("error");
    });
});

function loginSuccess() {
    console.log('loginSuccess()');
    $(window).trigger('login_success');
}
$login.find('.avatar-upload-button').on('click', function(event) {
    event.preventDefault();
    $login.find('.avatar-upload').click();
});
$login.find('.avatar-upload').on('change', function(event) {
    event.preventDefault();
    var fileList = this.files;
    for (var i = 0, numFiles = fileList.length; i < numFiles; i++) {
        var file = fileList[i];
        var imageType = /^image\//;

        if (!imageType.test(file.type)) {
            continue;
        }
        var preview = $('.user-avatar');
        var reader = new FileReader();
        reader.onloadend = function () {
            //preview.src = reader.result;
            preview.css('background-image', 'url(' + reader.result + ')');
            $login.find('input[name="user[avatar]"]').val(reader.result);
        }

        if (file) {
            reader.readAsDataURL(file);
        }

        console.log(file);

    }
});

$('.raven-login-button').on('click', function(event) {
    event.preventDefault();
    var url = domain + "users/auth/saml";
    window.open(url, "Raven login", "width=980,height=600");
    //$login.find('.login').fadeOut(300);
    //$login.find('.user-details').data('from-login', 'true').fadeIn(300);
});
$('.facebook-login-button').on('click', function(event) {
    event.preventDefault();
    var url = domain + "users/auth/facebook";
    loginWindow = window.open(url, "Facebook login", "width=400,height=300");
});

$(window).on('login_callback', function(event) {
    event.preventDefault();
    if(userDetails.details_needed == true || userDetails.details_needed == "true") {
        $login.find('.login').fadeOut(300);
        $login.find('.user-details').data('from-login', 'true').fadeIn(300);
        if(userDetails.user !== undefined && userDetails.user.profile_image !== undefined) {
            $login.find('.user-details .user-avatar').css('background-image', 'url(' + userDetails.user.profile_image + ')');
        }
        if(userDetails.user !== undefined && userDetails.user.name !== undefined) {
            $login.find('.user-details input[name="user[name]"]').val(userDetails.user.name);
        }
        if(userDetails.user !== undefined && userDetails.user.discipline !== undefined) {
            $login.find('.user-details input[name="user[discipline]"]').val(userDetails.user.discipline);
        }
        if(userDetails.user !== undefined && userDetails.user.email !== undefined) {
            $login.find('.user-details input[name="user[email]"]').val(userDetails.user.email);
        }
    } else {
        loginSuccess();
    }
});

if (userDetails !== null && (userDetails.details_needed == true || userDetails.details_needed == "true")) {
    $(window).trigger('login_callback');
} else if (userDetails !== null) {
    loginSuccess();
}

</script>
