<div class="search-options-container">
    <div class="search-text">
        <input type="hidden" id="search_query" name="filters[search_query]" placeholder="Search for a space or keyword" />
        <a id="clear-search" class="btn secondary">Clear all</a>
        <a href="#" id="near-me-btn" class="btn secondary"><i class="icon-marker"></i>Use my location</a>

    </div>
    <ul>
        <li><div class="header"><span class="title">I want to work...</span></div>
            <ul id="search-work">
                <!-- manually expand this list below to force a particular order
                #{work[<li class="filter-option work #{attr}" data-id="#{attr}"><div><i class="icon-tick"></i><p>#{value}</p></div></li>]}
                -->
                <li class="filter-option work work_in_a_library" data-id="work_in_a_library"><div><i class="icon-tick"></i><p>In a library</p></div></li>
                <li class="filter-option work work_private" data-id="work_private"><div><i class="icon-tick"></i><p>Alone, in private</p></div></li>
                <li class="filter-option work work_close" data-id="work_close"><div><i class="icon-tick"></i><p>Where others are working</p></div></li>
                <li class="filter-option work work_friends" data-id="work_friends"><div><i class="icon-tick"></i><p>With friends</p></div></li>
                <li class="filter-option work work_group" data-id="work_group"><div><i class="icon-tick"></i><p>On a group project</p></div></li>
            </ul>
        </li>
        <li><div class="header"><span class="title">Atmosphere</span></div>
            <ul id="search-atmosphere">
                #{atmosphere[<li class="filter-option atmosphere #{attr}" data-id="#{attr}"><div><i class="icon-tick"></i><p>#{value}</p></div></li>]}
            </ul>
        </li>
        <li><div class="header"><span class="title">Noise levels</span></div>
            <ul  id="search-noise">
                #{noise[<li class="filter-option noise-level  #{title(attr="_")}" data-id="#{id}"><div><i class="#{title(icon)}"></i><p>#{title}</p></div></li>]}
            </ul>
        </li>
        <li><div class="header"><span class="title">Facilities</span></div>
            <ul id="search-facilities">
                #{facilities[<li class="filter-option facility #{attr}" data-id="#{attr}"><div><i class="#{icon}"></i><p>#{value}</p></div></li>]}
            </ul>
        </li>
        <!-- TODO Openning times need logic to check
        <li><div class="header"><span class="title">Opening times</span></div>
            <ul id="search-opentimes">
                #{opentimes[<li class="filter-option opentimes #{attr}" data-id="#{attr}"><div><i class="#{icon}"></i><p>#{value}</p></div></li>]}
            </ul>
        </li>
        -->
        <!--
        <li><div class="header"><span class="title">Opening times</span></div>

            <ul id="search-opentimes">
                <li class="filter-option opentimes" data-id="opentimes_before_9am"><div><i class="icon-sun"></i><p>Open before 9am</p></div></li>
                <li class="filter-option opentimes" data-id="opentimes_after_7pm"><div><i class="icon-sun"></i><p>Open after 7pm</p></div></li>
                <li class="filter-option opentimes" data-id="opentimes_saturday"><div><i class="icon-sun"></i><p>Open on Saturdays 9am</p></div></li>
                <li class="filter-option opentimes" data-id="opentimes_sunday"><div><i class="icon-sun"></i><p>Open on Sundays</p></div></li>
               <!--
               #{opentimes[<li class="filter-option opentimes #{attr}" data-id="#{attr}"><div><i class="#{icon}"></i><p>#{value}</p></div></li>]}
               ->
            </ul>
        </li>
        -->
        <!--li><div class="header"><span class="title">Tags</span></div>
        <ul id="search-tags">
        #{tags[<li class="filter-option #{name(attr="_")}" data-id="#{name}"><div><i class="icon-tick"></i><p>#{name}</p></div></li>]}
    </ul>
</li-->
</ul>
</div>
<a class="btn search-button"><i class="icon-search"></i>Search</a>

<script type="text/javascript">
$('#near-me-btn').on('click', function(event) {
    event.preventDefault();
    $(this).toggleClass('active');
    console.log('near me - ' + $(this).hasClass('active'));
    if ($(this).hasClass('active')) {
        //getLocation = true;
        $(this).find('i').removeAttr('class').addClass('icon-loading');
        if ("geolocation" in navigator) {

            navigator.geolocation.getCurrentPosition(function(position) {

                cancelGeoLocation = null;
                userLoc.lat = position.coords.latitude;
                userLoc.lng = position.coords.longitude;
                $('#near-me-btn').find('i').removeAttr('class').addClass('icon-marker');
                if(currView == 'large') {
                    systemEvent = true;
                    $('.search-button').click();
                }
            });
        }
    } else {
        if(currView == 'large') {
            systemEvent = true;
            $('.search-button').click();
        }

    }


});

$('.filter-option').on('click', function(event) {
    event.preventDefault();
    $(this).toggleClass('active');
    if(currView == 'large') {
        systemEvent = true;
        $('.search-button').click();
    }

});

$("#clear-search").on('click', function(event) {
    event.preventDefault();
    $('#search_query').val('');
    $('#near-me-btn').removeClass('active');
    $('.filter-option').removeClass('active');
    $('.search-button').click();
});

$('.header').parents('li').addClass('expanded').end().append(
    $('<a />')
    .append($('<i />').addClass('icon-arrow-down'))
    .addClass('section-collapse')
    .addClass('expanded')
    //.text('collapse')
    .on('click', function(event) {
        event.preventDefault();
        if($(this).hasClass('expanded')) {
            //collapse
            //$(this).text('expand');
            $(this).find('i').removeAttr('class').addClass('icon-arrow-up');
            $(this).parents('li').find('>ul:first-of-type').stop().slideUp(300);
        } else {
            //expand
            //$(this).text('collapse');
            $(this).find('i').removeAttr('class').addClass('icon-arrow-down');
            $(this).parents('li').find('>ul:first-of-type').stop().slideDown(300);
        }
        $(this).toggleClass('expanded');
        $(this).parents('li').toggleClass('expanded');
    })
);

$('#search_query').on('keyup', function(event) {
    event.preventDefault();
    if(event.keyCode == 13) {
        $('.search-button').trigger('click');
        $(this).blur();
    }
});

$('.search-button').on('click', function(event) {
    exclude = {
        'exclusions':[],
        'total':0
    };
    //window.location.hash = '/search';
    $('.active[data-ignore="true"]').removeAttr('data-ignore');
    console.log(event);
    var $search = $(this);
    event.preventDefault();
    $search.height($search.height());
    $search.html('<i class="icon-loading"></i>');

    console.log('prep search');
    var searchString = prepSearch();
    loadSpaces({
        "queryString": searchString,
        "reset": false,
        //keepData:true,
        "clearSpaces":true,
        "callback": function() {


            if (event.isTrigger == undefined) {
                console.log('trigger - ', event.isTrigger);
                window.location.hash = '/list';
            }

            $search.html('<i class="icon-search"></i>Search');
            if(map !== null && map !== undefined) {
                map.setZoom(currentZoom);
                map.setCenter(currentLoc);
            }
        }
    })
});
function checkExpansions() {
    let totalExpansions = 0;
    if($('#search-noise .active').length > 0) {
        totalExpansions += 1;
    }
    if($('#search-work .active').length > 0) {
        totalExpansions += 1;
    }
    if($('#search-atmosphere .active').length > 0) {
        totalExpansions += 1;
    }
    /*
    if ($('#search-opentimes .active').length > 0) {
        totalExpansions += 1;
    }
     */
    exclude.total = totalExpansions;
    console.info('-------------------------', totalExpansions)
}
function expandSearch(count) {
    console.log('expand search');
    
    var tempExclude = [];

    if($('#search-work .active').length > 0 && tempExclude.length !== count+1) {
        $('#search-work .active').attr('data-ignore', true);
        tempExclude.push('work');
    }

    if($('#search-atmosphere .active').length > 0 && tempExclude.length !== count+1) {
        $('#search-atmosphere .active').attr('data-ignore', true);
        tempExclude.push('atmosphere');
    }

    if($('#search-noise .active').length > 0 && tempExclude.length !== count+1) {
        $('#search-noise .active').attr('data-ignore', true);
        tempExclude.push('noise');
    }

    exclude.exclusions = tempExclude;

}
function prepSearch() {
    var query = '';

    console.info(exclude, exclude.exclusions.indexOf('atmosphere'));
    if (exclude.exclusions.indexOf('work') == -1) {
        $('#search-work .active').each(function(index, el) {
            query += '&filters[' + $(this).data('id').replace(/-/g, '_') + '][]=true';
        });
    }
    if (exclude.exclusions.indexOf('atmosphere') == -1) {
        $('#search-atmosphere .active').each(function(index, el) {
            query += '&filters[' + $(this).data('id').replace(/-/g, '_') + '][]=true';
        });
    }
    $('#search-facilities .active').each(function(index, el) {
        query += '&filters[' + $(this).data('id').replace(/-/g, '_') + '][]=true';
    });

    $('#search-opentimes .active').each(function(index, el) {
        query += '&filters[' + $(this).data('id').replace(/-/g, '_') + '][]=true';
    });

    if (exclude.exclusions.indexOf('noise') == -1) {
        $('#search-noise .active').each(function(index, el) {
            query += '&filters[with_noise_ids][]=' + $(this).data('id');
        });
    }

    $('#search-tags .active').each(function(index, el) {
        query += '&filters[with_tag_names][]=' + $(this).data('id');
    });

    query += '&filters[search_query]=' + $('#search_query').val();

    if ($('#near-me-btn').hasClass('active')) {
        query += '&filters[nearest]=' + userLoc.lat + ',' + userLoc.lng;
    }

    console.info(query.substr(1));
    return query.substr(1);
}
</script>
