<div class="space">
    <div class="title">
        <a href="#" class="close-view icon-close"><span class="hidden">Close</span></a>
        <h1>#{name}</h1>
        <small><span class="distance">#{distance}</span></small>
    </div>
    <div class="gallery-container">

        <div class="gallery">
            <div class="gallery-images">
                #{images[<div style="background-image:url(#{value})" class="image"></div>]}
            </div>

        </div>
    </div>

    <div class="tabs">
        <ul>
            <li><a href="#info">Info</a></li>
            <li><a href="#tips">Tips</a></li>
            <li><a href="#map-#{id}">Map</a></li>
        </ul>
        <div class="tab-panel" id="info">

            <p>#{description}</p>

            <div id="space-booking">
            <section class="lowlight section-booking">
            <h2>Book a space (if applicable)</h2>
            <dl>
                <dt>Book here:</dt><dd><a class="url" href="#{booking_url}" title="#{booking_url}">#{booking_url}</a></dd>
            </dl>
            </section>
            </div>
            <section class="section-facts">
                <h2>Key facts</h2>
                <ul>
                    <li><i class="icon-marker"></i><span class="space-address">#{address}</span></li>
                    <li class="opening-times"><i class="icon-time-short"></i><span class="open_now"></span></li>


                    <li class="restricted-access" data-restricted-access="#{access}"><i class="icon-access"></i><span>Open to #{access} <em class="access-detail">- #{restriction}</em></span></li>
                </ul>
            </section>
            <section class="lowlight section-facilities">
                <h2>Facilities</h2>
                <ul>
                    <!--li class=" disabled-access" data-disabled-access="#{disabled_access}"><i class="icon-disabled"></i><span>Wheelchair accessible</span></li-->
                    #{facilities[<li class="facility #{attr}"><i class="#{icon}"></i>#{value}</li>]}
                </ul>
            </section>
            <section class=" section-tags">
                <h2>Tags</h2>
                <ul>
                    #{admin_tag_list[<li class="tag admin">#{value}</li>]}
                    #{user_tags_list[<li class="tag">#{value}</li>]}
                </ul>
                <a href="#" class="add-tag btn">Add a tag</a>
            </section>
            <section class="lowlight section-contact">
                <h2>Contact</h2>
                <dl>
                    <dt>Website:</dt><dd><a class="url" href="#{url}" title="#{name}">#{url}</a></dd>
                    <dt>Phone:</dt><dd><a class="phone" href="tel:#{phone_number}" title="call now">#{phone_number}</a></dd>
                    <dt>Email:</dt><dd><a class="email-address" href="mailto:#{email_address}">#{email_address}</a></dd>
                    <dt>Twitter:</dt><dd><a class="twitter" href="https://twitter.com/#{twitter_screen_name}" title="#{twitter_screen_name}">@#{twitter_screen_name}</a></dd>
                    <dt>Facebook:</dt><dd><a  class="facebook" href="https://facebook.com/#{facebook_url}" title="#{facebook_url}">#{facebook_url}</a></dd>
                </dl>
            </section>
        </div>
        <div class="tab-panel" id="tips">
            <a class="btn add-tip">Add a tip</a>
            <div class="tips-container loading">
                <div class="loading-container">
                    <i class="icon-loading"></i><br />Loading Tips
                </div>
                <div class="no-tips hidden">
                    There are currently no tips for this space. Be the first to add a tip and inform others about this location.
                </div>
            </div>
        </div>
        <div class="map tab-panel" id="map-#{id}"></div>
    </div>
</div>
<script type="text/javascript">
console.log('#space-#{id}');
var $space = $('#space-#{id}');

if ($space.find('.booking_url').html() == '') {
    document.getElementById('space-booking').style.display = 'none';
}
else {
    document.getElementById('space-booking').style.display = 'block';
}

if ($space.find('.space-address').html() == '') {
    $space.find('.space-address').parent().remove();
}

if ($space.find('.url').html() == '') {
    $space.find('.url').parent().prev().remove().end().remove();
}
if ($space.find('.phone').html() == '') {
    $space.find('.phone').parent().prev().remove().end().remove();
}
if ($space.find('.email-address').html() == '') {
    $space.find('.email-address').parent().prev().remove().end().remove();
}
if ($space.find('.twitter').html() == '@') {
    $space.find('.twitter').parent().prev().remove().end().remove();
}
if ($space.find('.facebook').html() == '') {
    $space.find('.facebook').parent().prev().remove().end().remove();
}
if ($space.find('.disabled-access').attr('data-disabled-access') !== 'true') {
    $space.find('.disabled-access').remove();
}
if ($space.find('.restricted-access').attr('data-restricted-access').toLowerCase().indexOf('public') !== -1) {
    $space.find('.restricted-access i').removeAttr('class').addClass('icon-public');
}
if ($space.find('.access-detail').html() == '- ') {
    $space.find('.access-detail').remove();
}
$('li.tag').off('click').on('click', function(event) {
    event.preventDefault();
    $this = $(this);
    $('#search').find('input[type="text"]').val($('#search').find('input[type="text"]').val() + " " + $this.html());
    $('#search').find('.search-button').trigger('click');
    window.location.hash = '/list';
});

var termHours = #{term_time_hours(raw)};
var holidayHours = #{out_of_term_hours(raw)};
var weekOrder = [
    "sunday",
    "monday",
    "tuesday",
    "wednesday",
    "thursday",
    "friday",
    "saturday"
];

if(!!isClosed(holidayHours) && !isClosed(termHours)) {
    //we can loop through and say whether its open
    var str = "";
    var openFrom = moment().hour(termHours[moment().format('dddd').toLowerCase()].from.split(':')[0]).minute(termHours[moment().format('dddd').toLowerCase()].from.split(':')[1]);
    if(!!openNow(termHours[moment().format('dddd').toLowerCase()])) {
        str += '<strong class="open">Open now! </strong>';
    } else if (!!termHours[moment().format('dddd').toLowerCase()].open && !!moment().isBefore(openFrom)) {
        console.log('before');
        str += '<strong class="open">Open today: </strong>';
    }
    if(!!termHours[moment().format('dddd').toLowerCase()].open) {
        str += '<a href="#" class="show-full-hours">' + termHours[moment().format('dddd').toLowerCase()].from + ' - ' + termHours[moment().format('dddd').toLowerCase()].to + '</a>';
    } else {
        str += '<strong>Closed all day.</strong>';
        if(!!termHours[moment().hour(24).format('dddd').toLowerCase()].open) {
            str += ' <a href="#" class="show-full-hours">Open tomorrow ' + termHours[moment().hour(24).format('dddd').toLowerCase()].from + ' - ' + termHours[moment().hour(24).format('dddd').toLowerCase()].to + '</a>';
        }
    }

    $space.find('.opening-times').append(str);
} else if (!isClosed(holidayHours)) {
    //weve got both termtime and holiday hours so display the table
    $space.find('.opening-times').append(getFullHours());
} else {
    //we dont have any data, remove the time icon
    $space.find('.opening-times').remove();
}

$('.show-full-hours').on('click', function(event) {
    event.preventDefault();
    var fullHours = getFullHours(),
    $parent = $(this).parent();
    $parent.find('i').nextAll().remove();
    $parent.append(fullHours);
});

function getFullHours() {
    //do term hours
    var ret = $('<div />').addClass('opening-grid');
    var incHolidays = (!!isClosed(holidayHours) ? false : true);
    if(!!incHolidays) {
        //show term time header
        ret.append('<div />').find('div:last').append($('<strong style="font-size:0.9rem;" />').html ('Term opening hours'));
        ret.find('div:last').append($('<div />').append(loopWeek(termHours)));
    } else {
        ret.append($('<div />').append(loopWeek(termHours)));
    }
    //do term time times


    if(incHolidays) {
        ret.append('<div />').find('div:last').append($('<strong style="font-size:0.9rem;" />').html ('Out-of-term opening hours'));
        ret.find('div:last').append($('<div />').append(loopWeek(holidayHours)));
    }

    return ret;
}

function loopWeek(data) {
    var ret = $('<dl />');
    for (var i = 0; i < weekOrder.length; i++) {
        if(data[weekOrder[i]] !== null) {
            ret.append($('<dt />').html(weekOrder[i]));
            if(!data[weekOrder[i]].open) {
                ret.append($('<dd />').html('Closed'));
            } else if (!!data[weekOrder[i]].allday) {
                ret.append($('<dd />').html('Open (24 hours)'));
            } else {
                ret.append($('<dd />').html(data[weekOrder[i]].from + ' - ' + data[weekOrder[i]].to));
            }
        }
        console.log(weekOrder[i], moment().format('dddd'));
        if(weekOrder[i] == moment().format('dddd').toLowerCase()) {
            console.log('add class today');
            ret.find('dd:last, dt:last').addClass('today');
        }
    }
    return ret;
}

function openNow(data) {
    console.log(data);
    if(!!data.allday) return true;
    if(!data.open) return false;
    var nowHour = moment().format('HH'),
    nowMin = moment().format('mm'),
    dFrom = data.from.split(':'),
    dTo = data.to.split(':');

    if(dTo[0] < dFrom[0]) dTo[0] = Number(dTo[0]) + 24;
    dFrom = moment().hour(dFrom[0]).minute(dFrom[1]);
    dTo = moment().hour(dTo[0]).minute(dTo[1]);

    return moment().isBetween(dFrom, dTo)
}


function isNull(data) {
    ret = true;
    if(data !== null && $.type(data) == 'object') {
        $.each(data, function(key, value) {
            if($.type(value) !== 'object') {
                if(!isNull(value)) ret =  false;
            } else {
                if(value !== null) ret = false;
            }
        });
    }

    return ret;
}

function isClosed(data) {
    ret = true;
    $.each(data, function(key, value) {
        if(!!data[key].open) ret = false;
    });

    return ret;
}


//close button
$space.find('.close-view').on('click', function(event) {
    event.preventDefault();
    /*setTimeout(function() {
    var space = findMarkers(points, {'id':#{id}}).spaces[0];
    if(space.marker !== undefined && space.marker.icon !== undefined) {
    space.marker.icon.fillColor = inactiveColor;
    space.marker.setMap(map);
}
}, 100)*/
if(currView == "large") {
    window.location.hash = '/';
    return;
} else if(oldView !== undefined) {
    window.location.hash = oldView;
} else {
    window.location.hash = '/';
}

});

if(currView == "small") {
    $('body').scrollTop(0);
}

if($space.find('.distance').html() == "") {
    $space.find('.distance').parent().remove();
    $space.find('.title h1').css('margin-top', '10px');
} else if ($space.find('.distance').html().indexOf('ft') !== -1) {
    if (parseFloat("#{distance}") == 1) {
        $space.find('.distance').html(parseFloat("#{distance}") + ' foot away');
    } else {
        $space.find('.distance').html(parseFloat("#{distance}") + ' feet away');
    }
} else {
    if (parseFloat("#{distance}") == 1) {
        $space.find('.distance').html(parseFloat("#{distance}") + ' mile away');
    } else {
        $space.find('.distance').html(parseFloat("#{distance}") + ' miles away');
    }
}

//set up gallery
$space.find('.gallery>.gallery-images').width(($space.find('.gallery .image').length * 100) + '%');
//set up carousel
var images = $space.find('.gallery-images .image'),
currImage = 0;
//add controls
if(images.length > 1) {
    $space.find('.gallery-container').append(
        $('<div />')
        .addClass('gallery-control back disabled')
        .append('<i class="icon-arrow-left"></i>')
        .on('click', function(event) {
            event.preventDefault();
            if(!$(this).hasClass('disabled')) {
                currImage--;
                $space.find('.gallery-container .gallery-control.forward').removeClass('disabled')
                $space.find('.gallery-container .gallery').animate({scrollLeft:$space.find('.gallery-container .gallery').scrollLeft() + $(images[currImage]).position().left}, 300);
                if(currImage - 1 < 0) {
                    $(this).addClass('disabled');
                }
            }
        })
    ).append(
        $('<div />')
        .addClass('gallery-control forward ' + (images.length == 1 ? 'disabled' : ''))
        .append('<i class="icon-arrow-right"></i>')
        .on('click', function(event) {
            event.preventDefault();
            if(!$(this).hasClass('disabled')) {
                currImage++;
                console.log(currImage);
                console.log($(images[currImage]).position().left);
                $space.find('.gallery-container .gallery-control.back').removeClass('disabled')
                $space.find('.gallery-container .gallery').animate({scrollLeft:$space.find('.gallery-container .gallery').scrollLeft() + $(images[currImage]).position().left}, 300);

                if(currImage + 1 > images.length - 1) {
                    $(this).addClass('disabled');
                }


            }
        })
    )
} else if(images.length == 0) {
    $space.find('.gallery-container').height($space.find('.title').outerHeight(true));
}
/*
if (images.length >= 1) {
    $space.find('.gallery-container').append(
        $('<a />')
        .attr('href','#')
        .html('<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 129.3 133" style="enable-background:new 0 0 129.3 133;" xml:space="preserve"><polygon class="st0" points="51.5,42.6 88.6,42.6 88.6,79.7 91.6,82.7 91.6,39.6 48.5,39.6 "/><polygon class="st0" points="57.8,91.9 39.2,91.9 39.2,73.4 37.7,71.9 37.7,93.4 59.3,93.4 "/></svg>')
        .addClass('fullscreen-btn')
        .on('click', function(event) {
            event.preventDefault();
            if ($(this).parents('.gallery-container').hasClass('fullscreen')) {
                $(this).parents('.gallery-container').removeClass('fullscreen');
                $(this).parents('.space-container').find('.title').css('display', 'block');
                //$(this).parents('.space-container').find('.gallery-control').css('display', 'block');
            } else {
                $(this).parents('.gallery-container').addClass('fullscreen');
                $(this).parents('.space-container').find('.title').css('display', 'none');
                //$(this).parents('.space-container').find('.gallery-control').css('display', 'none');
            }

        })
    );
}
*/
var dist,
startX,
startY,
lastX,
lastY,
startTime,
mouseIsDown,
scrollStart,
scaleStart,
scaleDist,
currScale = 1,
touchCount = 0;


/*
$('.gallery-container').on('touchstart', function(event) {
    console.log('currScale', currScale);
    if (event.originalEvent.touches !== undefined && event.originalEvent.touches.length == 1 && currScale <= 1) {
        //event.preventDefault();
        $space.find('.gallery-images .image').css('-webkit-transform', 'scale(1)');
        dist = 0;
        startX = event.pageX;
        startY = event.pageY;
        mouseIsDown = true;
        scrollStart = $space.find('.gallery').scrollLeft();
        startTime = new Date().getTime() // record time when finger first makes contact with surface
        startX = event.originalEvent.touches[0].pageX;
    } else if (event.originalEvent.touches !== undefined && event.originalEvent.touches.length == 2 && $space.find('.gallery-container').hasClass('fullscreen')) {
        event.preventDefault();
        var point1 = {x:event.originalEvent.touches[0].screenX, y:event.originalEvent.touches[0].screenY};
        var point2 = {x:event.originalEvent.touches[1].screenX, y:event.originalEvent.touches[1].screenY};
        scaleStart = lineDistance(point1, point2);
        console.log(lineDistance(point1, point2));
    } else if (event.originalEvent.touches !== undefined && event.originalEvent.touches.length == 1 && currScale > 1) {
        event.preventDefault();
        dist = 0;
        startX = lastX = event.pageX;
        startY  = lastY = event.pageY;
        mouseIsDown = true;
        console.log('pan the image around', $($space.find('.gallery-images .image').get(currImage)).css('background-position'));
        $($space.find('.gallery-images .image').get(currImage)).draggable();
    }
    touchCount = event.originalEvent.touches.length;
    console.log($space.find('.gallery-images').scrollLeft(), startX, event.clientX);
}).on('touchmove', function(event) {
    if(!!mouseIsDown) {
        event.preventDefault();
    }
    //
    if(!!mouseIsDown && event.originalEvent.touches !== undefined && event.originalEvent.touches.length == 1 && currScale <= 1) {
        var pos = event.pageX;
        startX = lastX;
        lastX = event.pageX;
        lastY = event.pageY;
        if (event.originalEvent.touches !== undefined && event.originalEvent.touches.length > 0) {
            pos = event.originalEvent.touches[0].pageX;
            lastX = event.originalEvent.touches[0].pageX;
            lastY = event.originalEvent.touches[0].pageY;
        }
        //console.log($space.find('.gallery').scrollLeft(), startX, pos, event.type);
        if (!$space.find('.gallery').hasClass('animated')) {
            $space.find('.gallery').scrollLeft(scrollStart + (startX - pos))

            if (startX > lastX && Math.abs(startX - lastX) > 20) {
                $space.find('.gallery-control.forward').trigger('click');
                $space.find('.gallery').addClass('animated');
            } else if (startX < lastX && Math.abs(startX - lastX) > 20) {
                $space.find('.gallery-control.back').trigger('click');
                $space.find('.gallery').addClass('animated');
            }

        }

    } else if (event.originalEvent.touches !== undefined && event.originalEvent.touches.length == 2 && $space.find('.gallery-container').hasClass('fullscreen')) {
        var point1 = {x:event.originalEvent.touches[0].screenX, y:event.originalEvent.touches[0].screenY};
        var point2 = {x:event.originalEvent.touches[1].screenX, y:event.originalEvent.touches[1].screenY};
        scaleDist = scaleStart - lineDistance(point1, point2);
        if(scaleDist < 0) {
            scaleDist = Math.abs(scaleDist);
        } else {
            scaleDist = -Math.abs(scaleDist);
        }

        if ((currScale + scaleDist/1000) > 5) {
            currScale = 5;
        } else if ((currScale + scaleDist/1000) < 0.25) {
            currScale = 0.25;
        } else {
            currScale = (currScale + scaleDist/1000);
        }

        console.log((currScale + scaleDist/1000));
        $($space.find('.gallery-images .image').get(currImage)).css('-webkit-transform', 'scale(' + currScale + ')');

        currScale = currScale + (scaleDist/1000);
    }
}).on('touchend', function(event) {
    mouseIsDown = false;
    $space.find('.gallery').removeClass('animated')
    //event.preventDefault();
    if (touchCount == 1) {
        console.log('touch end', startX, lastX, Math.abs(startX - lastX), event);

    } else if (touchCount == 2) {
        var tempScale = currScale;
        if ((currScale + scaleDist/1000) > 3) {
            tempScale = 3;
        } else if ((currScale + scaleDist/1000) < 0.5) {
            tempScale = 0.5;
        }

        if (currScale > 3 || currScale < 0.5) {
            currScale = tempScale;
            $($space.find('.gallery-images .image').get(currImage)).css('-webkit-transform', 'scale(' + currScale + ')');
        }
    }



    touchCount = 0;
});
*/
//set up tabs
$space.find('.tabs').tabs({
    activate: function(e, ui) {
        console.log($(ui.newPanel).attr('id'));
        if($(ui.newPanel).attr('id') == "map-#{id}") {
            $(ui.newPanel).height($(window).height() - ($space.find('.ui-tabs-nav').outerHeight(true) + $space.find('.title').outerHeight(true)))
            google.maps.event.trigger(localMap, 'resize');
            localMap.setCenter(m.getPosition());
            $(document).scrollTop($space.find('.tabs').position(true).top - $space.find('.title').outerHeight(true));
        }
        if($(ui.newPanel).attr('id') == "tips") {
            $space.find('.tips-container').css('min-height', $(window).height() - $space.find('.tips-container').offset().top);
        }

    }
});




var lat = Number(#{lat}),
lng = Number(#{lng});

//set up map
if(lat !== null && lng !== null && lat !== 0 && lng !== 0) {
    spaceMapOptions = {
        center: {'lat':lat, 'lng':lng},
        zoom: 18,
        disableDefaultUI: true
    }

    localMap = new google.maps.Map(document.getElementById('map-#{id}'), spaceMapOptions);

    var m;
    google.maps.event.trigger(localMap, 'resize');
    console.log(localMap);
    m = new google.maps.Marker({
        position: {'lat':lat, 'lng':lng},
        map:localMap,
        icon:markerSymbol
    });
    //m.icon.fillColor = activeColor;
    m.icon.fillOpacity = 1;
    localMap.setCenter(m.getPosition());
} else {
    $space.find('a[href=#map-#{id}]').parent('li').remove();
}

if(currView == 'large') {
    $space.find('a[href=#map-#{id}]').parent('li').hide(0);
    if(lat !== null && lng !== null && lat !== 0 && lng !== 0) {
        var space = findMarkers(points, {'id':#{id}}).spaces[0];
        openPoints.push(space._jsid);
        console.log(lat, lng);
        systemEvent = true;
        map.setZoom(18);
        systemEvent = true;
        map.setCenter({'lat':lat, 'lng':lng});
        if(space.marker !== undefined) {
            //space.marker.icon.fillColor = activeColor;
        }

    }
}

//load current tips
function loadTips() {
    $.ajax({
        url: domain + 'spaces/#{id}/tips.json?callback=?',
        cache:false,
        dataType:'json',
        method:'GET'
    })
    .done(function(data) {
        $space.find('.tips-container').removeClass('loading').find('.loading-container').addClass('hidden');
        if(data.length > 0) {
            $space.find('.tip').remove();
            $(data).each(function(index) {
                var $val = $(parseTemplate('spaceTip', data[index]));
                $space.find('.tips-container').append($val);
                var $response = $space.find('.tip.response:last');
                console.log($response.find('.comment').html());
                if($response.find('.comment').html() == '') {
                    $response.remove();
                    $space.find('.tip:last').addClass('no-response');
                }


            });
            $space.find('.tip').each(function () {
                $(this).find('.timestamp').html(moment($(this).find('.timestamp').html(), "YYYY-MM-DD[T]HH:mm:ss.SSS[Z]").fromNow());
            });
        } else {
            $space.find('.no-tips').removeClass('hidden');
        }

    })
}
loadTips();


//tips

$space.find('.add-tip').off('click').on('click', function(event) {
    console.log('load tip screen');
    event.preventDefault();
    space = findMarkers(points, {'id':#{id}}).spaces[0];
    console.log(space);
    var space = $('<div />')
    .css('display', 'none')
    .attr('id', 'tip-#{id}')
    .data('space-id', '#{id}')
    .addClass('new-tip-container')
    .append(parseTemplate('addTip', space))
    .appendTo($space)
    .fadeIn(300, function() {
        $space.find('.space').css('display', 'none');
    });
});

//tags

$space.find('.add-tag').off('click').on('click', function(event) {
    console.log('load tag screen');
    event.preventDefault();
    space = findMarkers(points, {'id':#{id}}).spaces[0];
    console.log(space);
    var space = $('<div />')
    .css('display', 'none')
    .attr('id', 'tag-#{id}')
    .data('space-id', '#{id}')
    .addClass('new-tag-container')
    .append(parseTemplate('addTag', space))
    .appendTo($space)
    .fadeIn(300, function() {
        $space.find('.space').css('display', 'none');
    });
});

$(window).off('layout').on('layout', function(event) {
    event.preventDefault();
    console.log('change layout ' + currView);
    if(currView == 'large') {
        $space.find('a[href=#map-#{id}]').parent('li').hide(0);
        if(lat !== null && lng !== null && lat !== 0 && lng !== 0) {
            systemEvent = true;
            map.setCenter({'lat':lat, 'lng':lng});
            //map.setZoom(18);
            new google.maps.event.trigger(findMarkers(points, {'id':#{id}}).spaces[0].marker, 'click' );
        }
        //$space.find('.tabs>ul').unstick();
    } else {

        $space.find('a[href=#map-#{id}]').parent('li').show(0);
        //$space.find('.tabs>ul').sticky({topSpacing:$space.find('.title').outerHeight()});
    }
});
$(window).off('event_success').on('event_success', function(event, options) {
    console.log(options);
    var display = $('<div />')
    .addClass('event-success')
    .append('<i class="icon-tick"></i>')
    .append('<p>' + options.message + '</p>');

    if(options.type == 'tag') {
        $space.find('.section-tags h2').after(display);
        $space.scrollTop($space.find('.section-tags h2').position().top);
    } else if(options.type == 'tip') {
        $space.find('.btn.add-tip').after(display);
        $space.scrollTop($space.find('.btn.add-tip').position().top);
    }

    window.setTimeout(function() {
        display.slideUp(300, function() {
            display.remove();
        })
    }, 3000)
    /* Act on the event */
});
</script>
