<!DOCTYPE html>
<html>
<head>
    <title>Edit</title>
    <%= stylesheet_link_tag "admin" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script type="text/javascript">
        showHolidayTimes = false;
    </script>
</head>
<body>
  
  <%= yield %>
  
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
</body>
</html>